@import "../../../assets/styles/includes/breakpoints.css";
@import "../../../assets/styles/includes/mixins.css";
@import "../../../assets/styles/includes/grid.css";

.wideWrapper {
  background-color: var(--color-background-light-green-gray);
}

.wrapper_hasTopPadding {
  @media (--bp-sm-only) {
    padding-top: 30px;
  }
}

.wrapper {
  @mixin component-container;
}

.content {
  @mixin grid-container;
  @mixin reset-list;
  flex-wrap: wrap;
}
