@import "../../../assets/styles/includes/breakpoints.css";
@import "../../../assets/styles/includes/mixins.css";
@import "../../../assets/styles/includes/grid.css";

.wideWrapper:not(.wrapper_isOnContentPage) {
  background-color: var(--color-background-light-green-gray);
}

.wrapper_isOnContentPage {
  margin-bottom: -20px;

  @media (--bp-sm-only) {
    padding-top: 30px;
  }

  @media (--bp-md) {
    margin-bottom: -25px;
  }

  @media (--bp-lg) {
    margin-bottom: -120px;
  }
}

.wrapper_isOnContentPage:not(.wrapper_hasNoHero) {
  margin-top: -40px;

  @media (--bp-md) {
    margin-top: -60px;
  }

  @media (--bp-lg) {
    margin-top: -60px;
  }
}

.wrapper {
  @mixin component-container;
}

.content {
  @mixin grid-container;
  @mixin reset-list;
  flex-wrap: wrap;
}
