{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "globals": {
    "graphql": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "semi": ["error", "always"],
    "strict": ["error"],
    "max-len": ["error", 120],
    "react/no-array-index-key": 0,
    "import/no-extraneous-dependencies": [0]
  },
}
