{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "globals": {
    "env": true,
    "graphql": true,
    "SERVER_RENDER": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "jsx-a11y/anchor-is-valid": [ "error", {"components": [] }],
    "max-len": ["error", 120],
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "react/jsx-curly-spacing": [1, {"when": "never", "children": true}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-max-props-per-line": ["error", { "maximum":1 }],
    "react/jsx-sort-props": ["error", {"reservedFirst": false}],
    "semi": ["error", "always"],
    "strict": ["error"],

    "import/no-extraneous-dependencies": 0,
    "react/no-array-index-key": 0,
    "react/no-typos": 0,
    "react/require-default-props": 0
  }
}
