{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "max-empty-lines": 1,
    "indentation": 2,
    "color-hex-case": "lower",
    "color-no-invalid-hex": true,
    "block-no-empty": true,
    "block-opening-brace-space-before": "always",
    "declaration-colon-space-after": "always-single-line",
    "declaration-block-trailing-semicolon": "always",
    "order/properties-alphabetical-order": true,
    "selector-class-pattern": "^([a-z\\d]*([A-Z][a-z\\d]*)*)?(_[a-z\\d]*([A-Z][a-z\\d]*)*)?$"
  }
}
