@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/typography.css';

.componentWrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;

  :global(.bodyTextComponent) + &.componentWrapper {
    margin-top: -30px;

    @media (--bp-md) {
      margin-top: -60px;
    }
  }
}

.content {
  @mixin grid-container;
}

.componentContent {
  @mixin text-column-width;

  p {
    @mixin type-paragraph;
    margin-bottom: 0;

    &:not(:first-child) {
      padding-top: 20px;
    }

    :global(.bodyTextComponent) + :global(.bodyTextComponent) & {
      padding-top: 20px;
    }
  }
}
