@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/typography.css';

.componentWrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.content {
  @mixin grid-container;
}

.componentContent {
  @mixin span 4, var(--grid-columns-sm), sm;

  @media (--bp-md) {
    @mixin span 6, var(--grid-columns-md), md;
  }

  @media (--bp-lg) {
    @mixin span 6, var(--grid-columns-lg), lg;
    @mixin custom-column 3, var(--grid-columns-lg), margin-left;
  }

  p {
    @mixin type-paragraph;
    margin-bottom: 0;
  }

  strong {
    font-family: var(--font-sans-serif-regular);

    :global(.wrapper_isChinese) & {
      font-family: var(--font-sans-serif-regular-cn);
    }
  }

  a {
    @mixin inline-type-link;
  }
}
