@import '../../assets/styles/includes/variables.css';
@import '../../assets/styles/includes/breakpoints.css';
@import '../../assets/styles/includes/grid.css';

.virtualGrid {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0 calc(var(--grid-margin-sm) * 2);
  opacity: .3;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.onTop {
  z-index: 1000;
}

.grid {
  @mixin grid-container;

  display: flex;
  height: 100%;

  @media (--bp-sm-only) {
    width: 100%;
    span {
      @mixin span 1, sm;
      background-color: gray;

      &:nth-child(n+4){
        margin-right: -2rem;
      }
      
      &:nth-child(n+5){
        display: none;
      }
    }
  }

  @media (--bp-md-only) {  
    span {
      @mixin span 1, md;
      background-color: gray;
      &:nth-child(n+9){
        display: none;
      }
    }
  }
  
  @media (--bp-lg) {
    span {
      @mixin span 1, lg;
      background-color: gray;
    }
  }
}