@import '../../assets/styles/includes/variables.css';
@import '../../assets/styles/includes/breakpoints.css';
@import '../../assets/styles/includes/grid.css';

.virtualGrid {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: .3;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.virtualGridEnabled {
  @extend .virtualGrid;
  z-index: 100;
}

.grid {
  @mixin grid-container;
  display: none;
  height: 100%;

  span {
    @mixin span 1, sm;
    background-color: gray;

    @media (--bp-md) {
      @mixin span 1, md;
    }

    @media (--bp-lg) {
      @mixin span 1, lg;
    }
  }
}

.gridSm {
  @extend .grid;
  @media (--bp-sm-only) {
    display: flex;
  }
}

.gridMd {
  @extend .grid;
  @media (--bp-md-only) {
    display: flex;
  }
}

.gridLg {
  @extend .grid;
  @media (--bp-lg) {
    display: flex;
  }
}
