@import '../../assets/styles/includes/variables.css';
@import '../../assets/styles/includes/mixins.css';
@import '../../assets/styles/includes/breakpoints.css';
@import '../../assets/styles/includes/grid.css';

.virtualGrid {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: .3;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;

  @media (--bp-sm-only) {
    padding: var(--component-wrapper-margin-sm);
  }

  @media (--bp-md-only) {
    padding: var(--component-wrapper-margin-md);
  }

  @media (--bp-lg) {
    padding: var(--component-wrapper-margin-lg);
  }
}

.onTop {
  z-index: 1000;
}

.grid {
  @mixin component-container;
  height: 100%;
  width: 100%;
}

.gridContainer {
  @mixin grid-container;
  height: 100%;

  span {
    &:after {
      background-color: gray;
      content: '';
      display: block;
      height: 100vh;
      width: 100%;
    }
  }

  @media (--bp-sm-only) {
    span {
      @mixin span 1, var(--grid-columns-sm), sm;
      &:nth-child(n + 5) {
        display: none;
      }
    }
  }

  @media (--bp-md-only) {  
    span {
      @mixin span 1, var(--grid-columns-md), md;
      &:nth-child(n + 9) {
        display: none;
      }
    }
  }
  
  @media (--bp-lg) {
    span {
      @mixin span 1, var(--grid-columns-lg), lg;
      position: relative;
    }
  }
}