@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/typography.css';
@import '../../../assets/styles/includes/variables.css';

.date {
  display: block;
  padding-top: 10px;
  text-align: center;
  width: 32px;

  span {
    display: block;
  }

  @media (--bp-md-only) {
    padding-top: 32px;
  }

  @media (--bp-lg) {
    padding-top: 16px;
  }

  &.date_inline {
    display: flex;
    padding-top: 0;
  }
}

.month {
  @mixin font-family font-sans-serif-light;
  color: var(--color-text-dark);
  font-size: 14px;
  line-height: 16px;

  .date:not(.date_inline) & {
    border-bottom: solid 1px var(--color-light-border);
    margin-bottom: 11px;
    padding-bottom: 10px;
  }

  .date_inline & {
    @mixin type-eyebrow;
    color: var(--color-text-light);
    letter-spacing: 0.5px;
  }
}

.day {
  @mixin font-family font-serif-light, false;
  color: var(--color-text-dark);
  font-size: 30px;
  line-height: 24px;

  .date_inline & {
    @mixin type-eyebrow;
    color: var(--color-text-light);
    letter-spacing: 0.5px;
    margin-left: 5px;

    :global(.wrapper_isChinese) & {
      @mixin font-family font-sans-serif-light, false;
    }
  }
}
