@import "../../../../assets/styles/includes/breakpoints.css";
@import "../../../../assets/styles/includes/mixins.css";
@import "../../../../assets/styles/includes/grid.css";

.wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  width: 100%;

  @media (--bp-lg) {
    @mixin span 5, var(--grid-columns-lg), lg;
  }
}

.rightMargin {
  @media (--bp-lg) {
    @mixin custom-column 1, var(--grid-columns-lg), margin-right;
  }
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 225px;
  justify-content: center;
  width: 225px;

  @media (--bp-md) {
    height: 360px;
    width: 380px;
  }
}

.bottomText,
.topText {
  @mixin type-h4-italic-24;
  text-align: center;

  @media (--bp-md) {
    font-size: 30px;
    line-height: 36px;
  }
}

.numberBlock {
  height: auto;
  padding-top: 20px;

  @media (--bp-md) {
    padding-top: 30px;
  }
}

.percentageNumber {
  @mixin type-big-number;
  line-height: 130px;

  @media (--bp-md) {
    line-height: 235px;
  }
}

.percentageSign {
  @mixin font-family font-serif-book-italic, false;
  color: var(--color-text-dark);
  font-size: 72px;

  @media (--bp-md) {
    font-size: 110px;
  }
}

.ratioBlock {
  align-items: center;
  display: flex;
  height: auto;
}

.ratioNumber {
  @mixin type-big-number;
  line-height: 150px;

  @media (--bp-md) {
    line-height: 280px;
  }
}

.ratioNumberLeft {
  left: -10px;
  position: relative;
  top: -15px;

  @media (--bp-md) {
    left: -20px;
    top: -30px;
  }
}

.ratioNumberRight {
  bottom: -15px;
  position: relative;
  right: -10px;

  @media (--bp-md) {
    bottom: -30px;
    right: -10px;
  }
}

.ratioText {
  @mixin type-section-label;
  color: var(--color-text-dark);
  max-width: 60px;
  text-align: center;
}
