@import '../../../assets/styles/includes/variables.css';
@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/typography.css';
@import '../../../assets/styles/includes/grid.css';

.menu {
  @mixin grid-container;
}

.menuItems {
  @mixin grid-container;
  margin: 0 -2rem 0 0;
  padding: 0;
}

.menuItem {
  @mixin span 2, lg;

  border-right: solid 1px var(--color-light-border);
  box-sizing: border-box;
  list-style: none;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    border: none;
  }

  &__link {
    @mixin type-nav;

    &.-active {
      color: var(--color-light-border);
    }
  }
}

.toggleMenu {
  @mixin type-menu;

  @media (--bp-md) {
    display: none;
  }
}
