@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/typography.css';

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.content {
  @mixin grid-container;
}

.quoteBlock {
  @mixin full-width-column-sm;

  @media (--bp-md) {
    @mixin three-quart-width-column-md;
  }

  @media (--bp-lg) {
    @mixin span 10, var(--grid-columns-lg), lg;
    @mixin custom-column 1, var(--grid-columns-lg), margin-left;
  }
}

.quote {
  @mixin pull-quote;
  font-weight: 300;
  margin: 0;
}

.lastLineSeparator {
  margin-right: 20px;
}

.author {
  @mixin pull-author;
  bottom: 4px;
  position: relative;
  white-space: pre;

  @media (--bp-sm-only) {
    display: block;
    padding-top: 20px;
    position: static;
  }

  @media (--bp-md) {
    bottom: 6px;
  }

  .wrapper:not(.wrapper_isBlockQuote) &:before {
    background-color: var(--color-text-light);
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 20px;
    position: relative;
    vertical-align: middle;
    width: 60px;

    @media (--bp-sm-only) {
      margin-left: 0;
    }

    @media (--bp-lg) {
      width: 103px;
    }
  }
}

.wrapper_isBlockQuote {
  .quoteBlock {
    @media (--bp-lg) {
      @mixin half-width-column-lg;
    }
  }

  .quote {
    color: var(--color-text-dark);
    padding-left: 8.5px;
    position: relative;

    @media (--bp-sm-only) {
      font-size: 18px;
      line-height: 30px;
    }

    @media (--bp-md) {
      padding-left: 19.5px;
    }

    &:before {
      border-left: 1px solid var(--color-light-border);
      content: '';
      height: calc(100% - 9px);
      left: 0;
      position: absolute;
      top: 6px;

      @media (--bp-md) {
        height: calc(100% - 15px);
        top: 8px;
      }

    }
  }

  .lastLineSeparator {
    display: none;
  }

  .author {
    display: block;
    padding-top: 30px;

    @media (--bp-md) {
      padding-top: 40px;
    }
  }
}
