@import '../../../../../assets/styles/includes/breakpoints.css';
@import '../../../../../assets/styles/includes/mixins.css';
@import '../../../../../assets/styles/includes/typography.css';

.wrapper {
  margin: 0;
}

.asset {
  margin-bottom: 34px;

  .wrapper_isSmall & {
    margin-bottom: 20px;
  }

  @media (--bp-md) {
    margin-bottom: 40px;

    .wrapper_isSmall & {
      margin-bottom: 40px;
    }
  }

  @media (--bp-lg) {
    margin-bottom: 40px;

    .wrapper_isSmall & {
      margin-bottom: 20px;
    }
  }
}

.content {
  @media (--bp-md) {
    @mixin nested-grid-container;
  }
}

.description {
  @mixin type-paragraph;

  @media (--bp-md) {
    @mixin span 4, var(--grid-columns-md), md;
    line-height: 24px;
  }

  @media (--bp-lg) {
    @mixin span 3, 6, lg;

    .wrapper_isSmall & {
      display: none;
    }
  }
}

.titleWrapper {
  .wrapper:not(.wrapper_isSmall).wrapper_hasPlayButton & {
    padding-left: 14px;
  }

  @media (--bp-md-only) {
    @mixin span 4, var(--grid-columns-md), md;
  }

  @media (--bp-lg) {
    .wrapper:not(.wrapper_isSmall) & {
      @mixin span 3, 6, lg;
    }
  }

  @mixin small-video-wrapper;
}

.title {
  @mixin type-h5;
  margin-bottom: 20px;

  @media (--bp-md) {
    margin-bottom: 10px;
  }

  @media (--bp-lg) {
    .wrapper_isSmall & {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
