@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/breakpoints.css';
@import "../../../assets/styles/includes/typography.css";

.wrapper {
  text-align: center;
}

.textWrapper {
  margin-top: 40px;

  @media (--bp-md) {
    margin: 120px 0 75px;
  }

  .wrapper_hasImage & {
    margin: -115px 0 50px;

    @media (--bp-md) {
      margin: -200px 0 75px;
    }

    @media (--bp-lg) {
      margin: -190px 0 65px;
    }
  }
}

.number {
  @mixin type-big-number;
  margin-bottom: 50px;
  text-align: center;

  @media (--bp-md) {
    margin-bottom: 150px;
  }

  @media (--bp-lg) {
    margin-bottom: 140px;
  }

  .wrapper_hasImage & {
    margin-bottom: 50px;

    @media (--bp-md) {
      margin-bottom: 175px;
    }

    @media (--bp-lg) {
      margin-bottom: 180px;
    }
  }
}

.title {
  @mixin type-h1-article;
  text-align: center;

  @media (--bp-md) {
    margin-bottom: 10px;
  }

  @media (--bp-lg) {
    margin-bottom: 20px;
  }

  .wrapper_hasImage & {
    @media (--bp-sm-only) {
      margin-bottom: 10px;
    }
  }
}

.text {
  @mixin type-paragraph;
  text-align: center;
}
