@import '../../assets/styles/includes/breakpoints.css';
@import '../../assets/styles/includes/mixins.css';
@import '../../assets/styles/includes/variables.css';

.wrapper {
  display: block;
  height: 0;
  padding-bottom: calc(9 / 16 * 100%);
  position: relative;
}

.sectionWrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.sectionWrapperInner {
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.iframe {
  height: 102%;
  margin: -1px -1% calc(2px - 1%);
  width: 102%;
}

.wrapper:not(.wrapper_hasCoverPhoto) .coverPhotoWrapper {
  display: none;
}

.wrapper_isVimeo .iframe {
  background: var(--color-background-black);
}

.wrapper_hasCoverPhoto .loadingSpinner:not(.loadingSpinner_isInButton) {
  display: none;
}

.wrapper_hasCoverPhoto:not(.wrapper_hasPlayed) .iframe {
  display: none;
}

.wrapper_hasCoverPhoto:not(.wrapper_isLoaded) .coverPhotoWrapper {
  background-color: var(--color-background-light-green-gray);
}

.button {
  @mixin reset-button;
  bottom: -22px;
  height: var(--play-button-width);
  left: 14px;
  position: absolute;
  transition: opacity var(--timing-fast) var(--easing-default);
  width: var(--play-button-width);
  z-index: 20;

  @media (--bp-md) {
    bottom: -28px;
    height: var(--play-button-width-md);
    width: var(--play-button-width-md);
  }

  &:before {
    background-image: url(../../assets/images/video-default.svg);
    background-size: contain;
    bottom: -4px;
    content: '';
    left: -4px;
    position: absolute;
    right: -4px;
    top: -4px;
    transition: background-image var(--timing-fast) var(--easing-default);
  }

  .wrapper:hover &:before {
    background-image: url(../../assets/images/video-hover.svg);
  }

  .wrapper:not(.wrapper_hasPlayButton) & {
    opacity: 0;
  }
}

.buttonInner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.buttonIconWrapper {
  position: relative;
  transition: opacity var(--timing-fast) var(--easing-default);
}

.buttonIconWrapper_isLoadingSpinner {
  width: 18px;

  .button_isSmall & {
    width: 11px;
  }

  .wrapper_isLoaded & {
    opacity: 0;
  }
}

.buttonIconWrapper_isPlayButton {
  margin-top: 3px;
  width: 15px;

  .button_isSmall & {
    margin-top: 2px;
    width: 8px;
  }

  .wrapper:not(.wrapper_isLoaded) & {
    opacity: 0;
  }
}

.button_isSmall {
  bottom: -8px;
  height: var(--play-button-width-small);
  left: 7px;
  width: var(--play-button-width-small);

  @media (--bp-md) {
    bottom: -15px;
    height: var(--play-button-width-small-md);
    width: var(--play-button-width-small-md);
  }
}

.buttonOverCoverPhoto {
  @mixin reset-button;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &:focus {
    outline: none;
  }
}
