@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/typography.css';

.wrapper {
  @mixin component-container;
}

.container {
  @media (--bp-md) {
    @mixin grid-container;
  }

  &.container_hasVideos {
    @mixin component-vertical-spacing;
  }
}

.sideTitle {
  @mixin type-section-label;
  border-top: 2px solid var(--color-text-dark);
  margin-bottom: 0;
  padding: 28px 0 21px;

  @media (--bp-lg) {
    padding: 40px 0 45px;
  }
}
