@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/typography.css';

.wrapper {
  @mixin component-container;
}

.container {
  @media (--bp-md) {
    @mixin grid-container;
  }
}

.sideTitle {
  @mixin type-h5-italic;
  border-top: 2px solid var(--color-text-dark);
  color: var(--color-text-light);
  letter-spacing: 0.2px;
  margin-bottom: 0;
  padding: 28px 0 21px;

  @media (--bp-lg) {
    padding: 40px 0 45px;
  }

  :global(.wrapper_isChinese) & {
    font-size: 16px;
  }
}
