@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/typography.css';
@import '../../../assets/styles/includes/variables.css';

@define-mixin type-language {
  @mixin font-family font-sans-serif-regular;
  color: var(--color-text-dark);
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-decoration-color: transparent;
  text-underline-position: under;

  @media (--bp-md) {
    font-size: 12px;
    line-height: 16px;

    :global(.wrapper_isChinese) & {
      font-size: 14px;
    }
  }
}

@define-mixin type-language-select {
  @mixin font-family font-sans-serif-regular;
  color: var(--color-text-dark);
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
}

.arrow {
  margin: 0 0 0 7px;

  @media (--bp-sm-only) {
    height: 7px;
    margin: 0 0 0 17px;
  }
}

.drop {
  position: relative;
  text-align: right;

  :global(.wrapper_isChinese) & {
    /* prevent Chinese text from breaking
       https://developer.mozilla.org/en-US/docs/Web/CSS/word-break */
    word-break: keep-all;
  }

  @media (--bp-sm-only) {
    border-top: solid 1px var(--color-light-border);
    padding: 16px 0 30px;
    width: 100%;
  }
}

.dropButton {
  @mixin reset-button;
  @mixin type-language;
  align-items: center;
  display: flex;
  overflow: hidden;
  padding: 0;
}

.dropButtonText {
  @mixin type-link;
  color: inherit;
}

.select {
  @mixin reset-list;
  background-color: var(--color-background-white);
  box-shadow: var(--color-light-border) 3px 3px 10px;
  padding: 12px 10px;
  position: absolute;
  z-index: 10;
}

.selectButton {
  @mixin type-language-select;
  @mixin reset-button;
  color: var(--color-text-dark);
  display: block;
  padding: 0 10px;
  text-align: left;
  width: 100%;

  &:hover {
    background-color: var(--color-secondary-light);
    color: var(--color-text-dark);
    text-decoration: none;
  }

  &.selectButton_hasSameFontTranslated {
    @mixin font-family font-sans-serif-regular, false;
  }
}

.selectButton_isSelected {
  color: var(--color-text-light);
}

.select:not(.select_isActive) {
  display: none;
}
