@import "../../../assets/styles/includes/breakpoints.css";
@import "../../../assets/styles/includes/grid.css";
@import "../../../assets/styles/includes/variables.css";

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.list {
  @mixin grid-container;
}

.listItems {
  @mixin text-column-width;

  @media (--bp-md) {
    position: relative;

    &:after {
      background-color: var(--color-light-border);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 1px;
    }
  }
}
