@import "../../../assets/styles/includes/grid.css";
@import "../../../assets/styles/includes/mixins.css";
@import "../../../assets/styles/includes/variables.css";
@import "../../../assets/styles/includes/breakpoints.css";

.wrapper {
  position: relative;

  &.wideContainer {
    @mixin component-container;
  }
}

.text {
  @mixin type-h1-category;
  display: inline-block;
  font-size: 48px;
  letter-spacing: 0.15px;
  line-height: 48px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 35px 35px;

  @media (--bp-md) {
    letter-spacing: 0.2px;
    transform-origin: 46px 46px;
  }

  @media (--bp-lg) {
    letter-spacing: 0;
    transform-origin: 60px 60px;
  }

  :global(.wrapper_isChinese) & {
    transform: rotate(0);
    width: 0;
    word-break: break-word;

    @media (--bp-md) {
      line-height: 110px;
    }

    @media (--bp-lg) {
      line-height: 140px;
    }
  }
}

.left {
  left: -17px;

  @media (--bp-md) {
    left: -20px;
  }

  @media (--bp-lg) {
    left: -25px;
  }
}

.right {
  left: calc(100% - 48px);

  @media (--bp-md) {
    left: calc(100% - 70px);
  }

  @media (--bp-lg) {
    left: calc(100% - 95px);
  }
}

.top {
  top: 80px;

  @media (--bp-md) {
    top: 20px;
  }
}

.center {
  top: 140px;
}

.gray {
  color: var(--color-text-light-section-title);
}

.yellow {
  color: var(--color-secondary-medium);
}
