@import "../../../assets/styles/includes/grid.css";
@import "../../../assets/styles/includes/mixins.css";
@import "../../../assets/styles/includes/typography.css";
@import "../../../assets/styles/includes/variables.css";

.wrapper {
  @mixin component-vertical-spacing;
  background-color: var(--color-background-light-green-gray);

  @media (--bp-md) {
    padding-bottom: 50px;
  }
}

.container {
  @mixin component-container;

  @media (--bp-sm-only) {
    padding-top: 41px;
  }

  @media (--bp-md) {
    padding-top: 40px;
  }
}

.navigation {
  @mixin grid-container;
  position: relative;

  @media (--bp-lg) {
    &:before {
      @mixin span 3, 12, lg;
      content: '';
    }
  }
}

.navigationItemWrapper {
  @media (--bp-sm-only) {
    @mixin span 2, var(--grid-columns-sm), sm;
  }

  &:not(.navigationItemWrapper_isBig) {
    @media (--bp-md-only) {
      @mixin span 2, var(--grid-columns-md), md;
    }

    @media (--bp-lg) {
      @mixin span 2, var(--grid-columns-lg), lg;
    }

    .description {
      display: none;
    }

    .navigationItem {
      height: 100%;
    }
  }
}

.navigationItemWrapper_isBig {
  position: relative;

  &:before {
    background-color: var(--color-light-border);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 1px;

    @media (--bp-sm-only) {
      left: 0;
    }

    @media (--bp-md-only) {
      margin-left: var(--grid-gutter-md);
    }

    @media (--bp-lg) {
      margin-left: var(--grid-gutter-lg);
    }
  }

  @media (--bp-md-only) {
    @mixin span 4, var(--grid-columns-md), md;
    @mixin nested-grid-container;

    .direction,
    .description {
      @mixin span 2, 4, md;
      padding-left: 0;
    }
  }

  @media (--bp-lg) {
    @mixin span 4, var(--grid-columns-lg), lg;
    @mixin nested-grid-container;

    .direction,
    .description {
      @mixin span 2, 4, lg;
      padding-left: 0;
    }
  }

  .direction,
  .description {
    @media (--bp-sm-only) {
      padding-left: 20px;
    }
  }

  .navigationItem {
    @media (--bp-md-only) {
      @mixin span 4, 4, md;
      @mixin nested-grid-container;
      left: calc(20px + var(--grid-gutter-md));
      padding-bottom: 22px;
    }

    @media (--bp-lg) {
      @mixin span 4, 4, lg;
      @mixin nested-grid-container;
      left: calc(20px + var(--grid-gutter-lg));
      padding-bottom: 22px;
    }
  }

  &.navigationItemWrapper_isSingle {
    @media (--bp-sm-only) {
      &:before {
        left: var(--grid-gutter-sm);
      }
    }

    @media (--bp-md) {
      @mixin span 6, var(--grid-columns-md), md;
      @mixin nested-grid-container;

      .direction {
        @mixin span 2, 6, md;
        padding-left: 0;
      }

      .description {
        @mixin span 4, 6, md;
        padding-left: 0;
      }
    }

    @media (--bp-lg) {
      @mixin span 6, var(--grid-columns-lg), lg;
      @mixin nested-grid-container;

      .direction {
        @mixin span 2, 6, lg;
        padding-left: 0;
      }

      .description {
        @mixin span 4, 6, lg;
        padding-left: 0;
      }
    }
  }
}

.navigationItem {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;

  &:hover {
    .directionLabel {
      color: var(--color-text-tomato);
      text-decoration: underline;
    }
  }
}

.direction {
  @media (--bp-sm-only) {
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 18px;

    :global(.wrapper_isChinese) & {
      font-size: 14px;
    }
  }
}

.directionLabel {
  @mixin type-eyebrow;
  display: block;
  margin-bottom: 13px;
}

.titleWrapper {
  display: flex;
}

.title,
.number {
  display: inline-block;
}

.titleInner {
  @mixin type-section-label;
  color: var(--color-text-dark);

  @mixin on-hover {
    text-decoration: underline;
  }

  @media (--bp-sm-only) {
    font-size: 16px;
  }
}

.number {
  @mixin type-h5;
  font-size: 16px;
  line-height: 20px;
  margin-right: 12px;
  margin-top: -2px;

  @media (--bp-md) {
    font-size: 18px;
    line-height: 24px;
  }

  :global(.wrapper_isChinese) & {
    @mixin font-family font-serif-light, false;
  }
}

.titleWrapper {
  @media (--bp-sm-only) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (--bp-md) {
    font-size: 18px;
    line-height: 20px;
  }
}

.description {
  @mixin type-caption;
  padding-top: 25px;

  @media (--bp-sm-only) {
    display: none;
  }

  @media (--bp-md-only) {
    margin-top: 1px;
  }

  @media (--bp-lg) {
    margin-top: 4px;
  }
}
