@import '../../../../assets/styles/includes/grid.css';
@import '../../../../assets/styles/includes/variables.css';

.logoContainer {
  @mixin span 2, var(--grid-columns-sm), sm;
  align-items: flex-end;
  align-self: stretch;
  display: flex;

  @media (--bp-md-only) {
    @mixin span 2, var(--grid-columns-md), md;
    height: 40px;
  }

  @media (--bp-lg) {
    @mixin span 2, var(--grid-columns-lg), lg;
  }
}

.logo {
  display: block;

  img {
    margin: 0;
    vertical-align: middle;
  }
}
