@import '../../../../assets/styles/includes/grid.css';
@import '../../../../assets/styles/includes/variables.css';

.logoContainer {
  @mixin span 2, var(--grid-columns-sm), sm;
  position: relative;

  @media (--bp-md) {
    @mixin span 2, var(--grid-columns-md), md;
  }

  @media (--bp-lg) {
    @mixin span 2, var(--grid-columns-lg), lg;
  }
}

.logo {
  bottom: 3px;
  display: block;
  height: 30px;
  position: absolute;

  @media (--bp-md) {
    bottom: 0;
    height: 40px;
  }

  @media (--bp-lg) {
    height: 36px;
  }

  img {
    height: 100%;
    width: auto;
  }
}
