@import './mixins.css';

:global .-no-overflow {
  overflow: hidden;
}

:global .hidden {
  display: none;
}

:global .visible {
  display: block;
}

:global .hasDropcap::first-letter {
  float: left;
  line-height: 52px;
  margin-right: 9px;
  padding-top: 14px;

  @media (--bp-md) {
    line-height: 72px;
    padding-top: 14px;
  }
}

:global .grid {
  @mixin grid-container;
}

:global .container {
  @mixin component-container;
}
