@import './mixins.css';
@import './variables.css';

:global ._noOverflow {
  overflow: hidden;
}

:global .hidden {
  display: none;
}

:global .visible {
  display: block;
}

:global .grid {
  @mixin grid-container;
}

:global .container {
  @mixin component-container;
}

:global .pageContent {
  background-color: var(--color-background-light-gray);
}
