@import './breakpoints.css';
@import './mixins.css';
@import './variables.css';

:global ._noOverflow {
  overflow: hidden;
}

:global .grid {
  @mixin grid-container;
}

:global .container {
  @mixin component-container;
}

:global .pageContent {
  background-color: var(--color-background-light-gray);
}

:global(._isCircle) img {
  border-radius: 50%;
}

/* Visibility */

:global .screenReaderText {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

:global .hide {
  display: none !important;
}

:global .hideSm {
  @media (--bp-sm-only) {
    display: none !important;
  }
}

:global .hideMd {
  @media (--bp-md-only) {
    display: none !important;
  }
}

:global .hideLg {
  @media (--bp-lg) {
    display: none !important;
  }
}

:global .showSm {
  @media (--bp-md) {
    display: none !important;
  }
}

:global .showMd {
  @media (--bp-sm-only) {
    display: none !important;
  }

  @media (--bp-lg) {
    display: none !important;
  }
}

:global .showLg {
  @media (--bp-sm-and-md-only) {
    display: none !important;
  }
}
