@import './breakpoints.css';
@import './variables.css';

@define-mixin custom-column $grid-col-size: 6, $number-of-grids: 12, $property: width {
  $(property): calc(($grid-col-size / $number-of-grids) * 100)%;
}

@define-mixin span $grid-col-size: 6, $number-of-grids: 12, $breakpoint: lg {
  @mixin custom-column $grid-col-size, $number-of-grids, width;
  @mixin custom-column $grid-col-size, $number-of-grids, flex-basis;
  padding: 0 var(--grid-gutter-$(breakpoint));
}

@define-mixin grid-container {
  display: flex;
  flex-direction: row;
  width: auto;

  @media (--bp-sm-only) {
    margin: 0 -var(--grid-gutter-sm);
  }

  @media (--bp-sm-upper-only) {
    margin: 0 -var(--grid-gutter-sm);
  }

  @media (--bp-md) {
    margin: 0 -var(--grid-gutter-md);
  }

  @media (--bp-lg) {
    margin: 0 -var(--grid-gutter-lg);
  }
}

@define-mixin nested-grid-container {
  @mixin grid-container;
  padding: 0;

  @media (--bp-sm-only) {
    margin: 0;
  }

  @media (--bp-sm-upper-only) {
    margin: 0;
  }

  @media (--bp-md) {
    margin: 0;
  }

  @media (--bp-lg) {
    margin: 0;
  }
}

/* Common column patterns */

@define-mixin full-width-column-sm {
  @mixin span 4, var(--grid-columns-sm), sm;
}

@define-mixin three-quart-width-column-md {
  @mixin span 6, var(--grid-columns-md), md;
}

@define-mixin half-width-column-lg {
  @mixin span 6, var(--grid-columns-lg), lg;
  @mixin custom-column 3, var(--grid-columns-lg), margin-left;
}

@define-mixin three-quart-width-column-lg {
  @mixin span 8, var(--grid-columns-lg), lg;
  @mixin custom-column 2, var(--grid-columns-lg), margin-left;
}

@define-mixin text-column-width {
  @mixin full-width-column-sm;

  @media (--bp-md) {
    @mixin three-quart-width-column-md;
  }

  @media (--bp-lg) {
    @mixin half-width-column-lg;
  }
}

@define-mixin image-column-width {
  @mixin full-width-column-sm;

  @media (--bp-md) {
    @mixin three-quart-width-column-md;
  }

  @media (--bp-lg) {
    @mixin three-quart-width-column-lg;
  }
}
