@import './breakpoints.css';
@import './variables.css';

@define-mixin custom-column $grid-col-size: 6, $number-of-grids: 12, $property: width {
  $(property): calc(($grid-col-size / $number-of-grids) * 100)%;
}

@define-mixin span $grid-col-size: 6, $number-of-grids: 12, $breakpoint: lg {
  @mixin custom-column $grid-col-size, $number-of-grids, width;
  @mixin custom-column $grid-col-size, $number-of-grids, flex-basis;
  box-sizing: border-box;
  padding: 0 var(--grid-gutter-$(breakpoint));
}

@define-mixin grid-container {
  display: flex;
  flex-direction: row;
  width: auto;

  @media (--bp-sm-only) {
    margin: 0 -var(--grid-gutter-sm);
  }

  @media (--bp-sm-upper-only) {
    margin: 0 -var(--grid-gutter-sm);
  }

  @media (--bp-md) {
    margin: 0 -var(--grid-gutter-md);
  }

  @media (--bp-lg) {
    margin: 0 -var(--grid-gutter-lg);
  }
}

@define-mixin nested-grid-container {
  @mixin grid-container;
  padding: 0;

  @media (--bp-sm-only) {
    margin: 0;
  }

  @media (--bp-sm-upper-only) {
    margin: 0;
  }

  @media (--bp-md) {
    margin: 0;
  }

  @media (--bp-lg) {
    margin: 0;
  }
}
