@import './breakpoints.css';
@import './variables.css';

@define-mixin component-container {
  @media (--bp-sm-only) {
    margin: 0 var(--container-margin-sm);
  }

  @media (--bp-sm-upper-only) {
    margin: 0 var(--container-margin-sm-upper-only);
  }

  @media (--bp-md) {
    margin: 0 var(--container-margin-md);
  }

  @media (--bp-lg) {
    margin: 0 var(--container-margin-lg);
  }

  @media (--bp-xl) {
    margin: 0 auto;
    width: var(--container-xl);
  }
}

@define-mixin component-vertical-spacing {
  padding-bottom: var(--component-spacing);
  padding-top: 0;

  @media (--bp-md) {
    padding-bottom: var(--component-spacing-md);
  }

  :global(.headline)& {
    padding-bottom: 20px;
    padding-top: var(--component-spacing);

    @media (--bp-md) {
      padding-bottom: 35px;
      padding-top: 40px;
    }

    @media (--bp-lg) {
      padding-bottom: 35px;
      padding-top: var(--component-spacing-md);
    }
  }

  :global(.shareComponent)& {
    padding-bottom: var(--component-spacing);
    padding-top: 20px;

    @media (--bp-md) {
      padding-bottom: var(--component-spacing-md);
      padding-top: 40px;
    }
  }

  :global(.sectionTitle)& {
    padding-bottom: 20px;
    padding-top: 0;

    @media (--bp-md) {
      padding-bottom: 40px;
    }
  }
}

@define-mixin reset-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
}

@define-mixin reset-list {
  margin: 0;
  padding: 0;

  > li {
    list-style-type: none;
  }
}

@define-mixin three-up-section-title-padding-right {
  padding-right: 20px;

  @media (--bp-md) {
    padding-right: 27px;
  }

  @media (--bp-lg) {
    padding-right: 25px;
  }

  @media (--bp-lg-lower-only) {
    padding-right: 20px;
  }
}

@define-mixin three-up-section-title-padding-left {
  padding-left: 20px;

  @media (--bp-md) {
    padding-left: 27px;
  }

  @media (--bp-lg) {
    padding-left: 25px;
  }

  @media (--bp-lg-lower-only) {
    padding-left: 20px;
  }
}

@define-mixin play-button-animation $property: left {
  $(property): 0;
  position: relative;
  top: 0;
  transition:
    $property var(--timing-fast) var(--easing-default),
    top var(--timing-fast) var(--easing-default);
}

/* We need to repeat 7px under different mqs for specificity */
@define-mixin small-video-wrapper {
  @mixin play-button-animation padding-left;
  padding-left: 7px;

  @media (--bp-md) {
    padding-left: 7px;
  }

  @media (--bp-lg) {
    padding-left: 7px;
  }

  .wrapper:not(.wrapper_hasPlayButton) & {
    padding-left: 0;
  }
}

@define-mixin on-hover {
  &:hover,
  a:hover &,
  button:hover & {
    @mixin-content;
  }
}

@define-mixin is-disabled {
  cursor: pointer;
  pointer-events: none;
}
