@import './breakpoints.css';
@import './variables.css';

@define-mixin component-container {
  box-sizing: border-box;

  @media (--bp-sm-only) {
    margin: 0 var(--container-margin-sm);
  }

  @media (--bp-sm-upper-only) {
    margin: 0 var(--container-margin-sm-upper-only);
  }

  @media (--bp-md) {
    margin: 0 var(--container-margin-md);
  }

  @media (--bp-lg) {
    margin: 0 var(--container-margin-lg);
  }

  @media (--bp-xl) {
    margin: 0 auto;
    width: var(--container-xl);
  }
}

@define-mixin component-vertical-spacing {
  padding-bottom: 30px;
  padding-top: 0;

  @media (--bp-md) {
    padding-bottom: 60px;
  }

  :global(.headline)& {
    padding-bottom: 20px;
    padding-top: 30px;

    @media (--bp-md) {
      padding-bottom: 35px;
      padding-top: 40px;
    }

    @media (--bp-lg) {
      padding-bottom: 35px;
      padding-top: 60px;
    }
  }

  :global(.shareComponent)& {
    padding-bottom: 30px;
    padding-top: 20px;

    @media (--bp-md) {
      padding-bottom: 60px;
      padding-top: 40px;
    }
  }

  :global(.sectionTitle)& {
    padding-bottom: 20px;
    padding-top: 0;

    @media (--bp-md) {
      padding-bottom: 40px;
    }
  }
}

@define-mixin reset-button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
}

@define-mixin reset-list {
  margin: 0;
  padding: 0;

  > li {
    list-style-type: none;
  }
}

@define-mixin three-up-section-title-padding-right {
  padding-right: 33px;

  @media (--bp-md) {
    padding-right: 27px;
  }

  @media (--bp-lg) {
    padding-right: 29px;
  }
}

@define-mixin three-up-section-title-padding-left {
  padding-left: 20px;

  @media (--bp-md) {
    padding-left: 27px;
  }

  @media (--bp-lg) {
    padding-left: 29px;
  }
}

@define-mixin play-button-animation $property: left {
  $(property): 0;
  position: relative;
  top: 0;
  transition:
    $property var(--timing-fast) var(--easing-default),
    top var(--timing-fast) var(--easing-default);
}
