@import 'breakpoints.css';
@import 'variables.css';

/* For Statistics and Big Numbers */
@define-mixin type-display {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light-italic);
  font-size: 180px;
  font-weight: normal;
  line-height: 100%;

  @media (--bp-md) {
    font-size: 220px;
  }

  @media (--bp-lg) {
    font-size: 400px;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-italic-cn);
  }
}

/* headings */
@define-mixin type-h1 {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light);
  font-size: 48px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 0;

  em {
    font-family: var(--font-serif-light-italic);
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-cn);

    em {
      font-family: var(--font-serif-light-italic-cn);
    }
  }
}

@define-mixin type-h1-home {
  @mixin type-h1;

  @media (--bp-md) {
    font-size: 110px;
    line-height: 92px;
  }
}

@define-mixin type-h1-category {
  @mixin type-h1;
  line-height: 48px;

  @media (--bp-md) {
    font-size: 96px;
    line-height: 96px;
  }

  @media (--bp-lg) {
    font-size: 120px;
    line-height: 120px;
  }
}

@define-mixin type-h1-article {
  @mixin type-h1;
  line-height: 48px;

  @media (--bp-md) {
    font-size: 70px;
    line-height: 72px;
  }
}

@define-mixin type-h2 {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light);
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;

  @media (--bp-md) {
    font-size: 30px;
    line-height: 36px;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-cn);
  }
}

@define-mixin type-h2-italic {
  @mixin type-h2;
  font-family: var(--font-serif-light-italic);

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-italic-cn);
  }
}

@define-mixin type-h3 {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light);
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0.3px;
  line-height: 30px;

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-cn);
  }
}

@define-mixin type-h3-italic {
  @mixin type-h3;
  font-family: var(--font-serif-light-italic);

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-italic-cn);
  }
}

@define-mixin type-h4 {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light);
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-cn);
  }
}

@define-mixin type-h4-italic {
  @mixin type-h4;
  font-family: var(--font-serif-light-italic);

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-italic-cn);
  }
}

@define-mixin type-h5-italic {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light-italic);
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;

  @media (--bp-md) {
    font-size: 18px;
    line-height: 18px;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-italic-cn);
  }
}

/* article copy */
@define-mixin type-dropcap {
  color: var(--color-text-dark);
  float: left;
  font-family: var(--font-serif-light-italic);
  font-size: 86px;
  line-height: 52px;
  margin-right: 9px;
  padding-right: 15px;
  padding-top: 14px;

  @media (--bp-md) {
    font-size: 100px;
    line-height: 72px;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-italic-cn);
  }
}

@define-mixin type-paragraph {
  color: var(--color-text-dark);
  font-family: var(--font-sans-serif-light);
  font-size: 14px;
  line-height: 24px;
  padding-top: 20px;

  @media (--bp-md) {
    line-height: 30px;
  }

  :global(.wrapper):not(:global(.wrapper_isChinese)) :global(.hasDropCap) &:first-child::first-letter {
    @mixin type-dropcap;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-sans-serif-light-cn);
  }
}

@define-mixin type-descriptor {
  color: var(--color-text-dark);
  font-family: var(--font-sans-serif-light);
  font-size: 12px;
  line-height: 18px;

  @media (--bp-md) {
    font-size: 14px;
    line-height: 24px;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-sans-serif-light-cn);
  }
}

/* CTA */
@define-mixin type-link {
  color: var(--color-text-tomato);
  font-family: var(--font-sans-serif-regular);
  font-size: 14px;
  text-decoration: none;
  text-decoration-color: transparent;
  text-underline-position: under;
  transition: text-decoration var(--timing-fast) var(--easing-default);

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-link-hover-underline);
  }

  :global(._touchDevice) &:hover {
    text-decoration: none;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-sans-serif-regular-cn);
  }
}

@define-mixin type-language {
  color: var(--color-text-dark);
  font-family: var(--font-sans-serif-regular);
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-decoration-color: transparent;
  text-underline-position: under;

  @media (--bp-md) {
    font-size: 11px;
    line-height: 16px;
  }

  &:focus {
    color: var(--color-text-light);
    outline: none;
  }
}

@define-mixin type-language-select {
  color: var(--color-text-dark);
  font-family: var(--font-sans-serif-regular);
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;

  &:focus {
    color: var(--color-text-light);
    outline: none;
  }
}

@define-mixin type-nav {
  color: var(--color-text-dark);
  font-family: var(--font-sans-serif-regular);
  font-size: 14px;
  line-height: 20px;
  text-decoration-color: transparent;
  text-underline-position: under;
  transition: color var(--timing-fast) var(--easing-default), text-decoration var(--timing-fast) var(--easing-default);

  &:hover {
    color: var(--color-text-tomato);
    text-decoration-color: var(--color-link-hover-underline);
  }

  &:focus {
    color: var(--color-text-light);
    outline: none;
  }

  :global(._touchDevice) &:hover {
    color: var(--color-text-dark);
    text-decoration-color: transparent;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-sans-serif-regular-cn);
  }
}

@define-mixin type-sub-nav {
  @mixin type-nav;
  font-family: var(--font-sans-serif-light);

  :global(.wrapper_isChinese) & {
    font-family: var(--font-sans-serif-light-cn);
  }
}

/* Other*/
@define-mixin type-caption {
  color: var(--color-text-dark);
  font-family: var(--font-sans-serif-light);
  font-size: 10px;
  line-height: 14px;

  @media (--bp-md) {
    font-size: 12px;
    line-height: 18px;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-sans-serif-light-cn);
  }
}

@define-mixin type-footer {
  @mixin type-caption;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.9;
}

@define-mixin type-eyebrow {
  color: var(--color-text-light);
  font-family: var(--font-sans-serif-light);
  font-size: 10px;
  line-height: 14px;

  :global(.wrapper_isChinese) & {
    font-family: var(--font-sans-serif-light-cn);
  }
}

@define-mixin type-video {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light);
  font-size: 24px;
  line-height: 24px;

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-cn);
  }
}

@define-mixin type-carousel {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light);
  font-size: 18px;
  line-height: 20px;

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-cn);
  }
}

@define-mixin type-menu {
  color: var(--color-text-dark);
  font-family: var(--font-serif-book-italic);
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 30px;

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-book-italic-cn);
  }
}

@define-mixin footershare-text {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light-italic);
  font-size: 24px;
  letter-spacing: 0.25px;
  line-height: 30px;
  opacity: 0.9;

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-book-italic-cn);
  }
}

@define-mixin pull-quote {
  color: var(--color-text-light);
  font-family: var(--font-serif-light-italic);
  font-size: 30px;
  letter-spacing: 0.3px;
  line-height: 36px;

  @media (--bp-md) {
    font-size: 36px;
    letter-spacing: 0;
    line-height: 48px;
  }
}

@define-mixin type-share {
  color: var(--color-text-light);
  font-family: var(--font-serif-light-italic);
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.4px;
  line-height: 20px;

  @media (--bp-lg) {
    line-height: 36px;
  }

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-italic-cn);
  }
}

@define-mixin pull-author {
  color: var(--color-text-dark);
  font-family: var(--font-serif-light-italic);
  font-size: 14px;
  line-height: 14px;

  :global(.wrapper_isChinese) & {
    font-family: var(--font-serif-light-italic-cn);
  }
}

@define-mixin breaker-text {
  color: var(--color-text-dark);
  font-family: var(--font-sans-serif-light);
  font-size: 16px;
  line-height: 24px;

  :global(.wrapper_isChinese) & {
    font-family: var(--font-sans-serif-light-cn);
  }
}
