@import 'breakpoints.css';
@import 'variables.css';

@define-mixin font-family $font, $isTranslated: true {
  font-family: var(--$(font));

  :global(.wrapper_isChinese) & {
    @if $(isTranslated) {
      font-family: var(--$(font)-cn);
    }
  }
}

/* For Statistics and Big Numbers */
@define-mixin type-big-number {
  @mixin font-family font-serif-light-italic;
  color: var(--color-text-dark);
  font-size: 180px;
  font-weight: normal;
  line-height: 100px;

  @media (--bp-md) {
    font-size: 400px;
  }
}

/* headings */
@define-mixin type-h1 {
  @mixin font-family font-serif-light;
  color: var(--color-text-dark);
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 0;

  em {
    @mixin font-family font-serif-light-italic;
  }
}

@define-mixin type-h1-home {
  @mixin type-h1;

  @media (--bp-md) {
    font-size: 96px;
    line-height: 96px;
  }

  @media (--bp-lg) {
    font-size: 120px;
  }
}

@define-mixin type-h1-category {
  @mixin type-h1;

  @media (--bp-md) {
    font-size: 96px;
    line-height: 96px;
  }

  @media (--bp-lg) {
    font-size: 120px;
    line-height: 120px;
  }
}

@define-mixin type-h1-article {
  @mixin type-h1;

  @media (--bp-md) {
    font-size: 72px;
    line-height: 70px;
  }
}

@define-mixin type-h2 {
  @mixin font-family font-serif-light;
  color: var(--color-text-dark);
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;

  @media (--bp-md) {
    font-size: 36px;
    line-height: 48px;
  }
}

@define-mixin type-h2-italic {
  @mixin type-h2;
  @mixin font-family font-serif-light-italic;
}

@define-mixin type-h3 {
  @mixin font-family font-serif-light;
  color: var(--color-text-dark);
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;

  @media (--bp-md) {
    font-size: 30px;
    line-height: 36px;
  }
}

@define-mixin type-h3-italic {
  @mixin type-h3;
  @mixin font-family font-serif-light-italic;
}

@define-mixin type-h4 {
  @mixin font-family font-serif-light;
  color: var(--color-text-dark);
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
}

@define-mixin type-h4-italic {
  @mixin type-h4;
  @mixin font-family font-serif-light-italic;
}

@define-mixin type-h5 {
  @mixin font-family font-serif-light;
  color: var(--color-text-dark);
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;

  @media (--bp-sm-only) {
    line-height: 24px;
  }
}

@define-mixin type-h5-italic {
  @mixin type-h5;
  @mixin font-family font-serif-light-italic;
  line-height: 30px;
}

/* article copy */
@define-mixin type-dropcap {
  @mixin font-family font-serif-light-italic;
  color: var(--color-text-dark);
  float: left;
  font-size: 86px;
  line-height: 52px;
  margin-right: 9px;
  padding-right: 15px;
  padding-top: 14px;

  @media (--bp-md) {
    font-size: 100px;
    line-height: 72px;
  }
}

@define-mixin markdown-support {
  strong {
    @mixin font-family font-sans-serif-regular;
  }

  em {
    font-style: italic;
  }

  a {
    @mixin inline-type-link;
  }
}

@define-mixin type-paragraph {
  @mixin font-family font-sans-serif-light;
  @mixin markdown-support;
  color: var(--color-text-dark);
  font-size: 14px;
  line-height: 24px;

  @media (--bp-md) {
    line-height: 30px;
  }

  :global(.wrapper):not(:global(.wrapper_isChinese)) :global(.hasDropCap) &:first-child:first-letter {
    @mixin type-dropcap;
  }
}

@define-mixin type-descriptor {
  @mixin font-family font-sans-serif-light;
  @mixin markdown-support;
  color: var(--color-text-dark);
  font-size: 12px;
  line-height: 18px;

  @media (--bp-md) {
    font-size: 14px;
    line-height: 24px;
  }
}

@define-mixin type-caption {
  @mixin font-family font-sans-serif-light;
  color: var(--color-text-dark);
  font-size: 12px;
  line-height: 18px;
}

@define-mixin type-eyebrow {
  @mixin font-family font-sans-serif-light;
  color: var(--color-text-light);
  font-size: 11px;
  line-height: 14px;
}

@define-mixin type-menu {
  @mixin font-family font-serif-book-italic;
  color: var(--color-text-dark);
  font-size: 14px;
  line-height: 30px;
}

@define-mixin large-body-text {
  font-size: 30px;
  line-height: 36px;

  @media (--bp-md) {
    font-size: 36px;
    line-height: 48px;
  }
}

@define-mixin type-quote {
  @mixin font-family font-serif-light-italic;
  @mixin large-body-text;
  color: var(--color-text-light);
}

/* Links */
@define-mixin link-common {
  @mixin font-family font-sans-serif-regular;
  color: var(--color-text-tomato);
  transition: text-decoration var(--timing-fast) var(--easing-default);
}

@define-mixin type-link {
  @mixin link-common;
  text-decoration: none;
  text-decoration-color: transparent;
  text-underline-position: under;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-link-hover-underline);
  }

  :global(._touchDevice) &:hover {
    text-decoration: none;
  }
}

@define-mixin type-link-default-size {
  font-size: 14px;
  line-height: 16px;
}

@define-mixin inline-type-link {
  @mixin link-common;
  text-decoration: underline;
  text-decoration-color: var(--color-link-hover-underline);
  text-underline-position: under;

  &:hover {
    text-decoration: none;
    text-decoration-color: transparent;
  }

  :global(._touchDevice) &:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-link-hover-underline);
  }
}

@define-mixin type-nav {
  @mixin font-family font-sans-serif-regular;
  color: var(--color-text-dark);
  text-decoration: none;
  text-decoration-color: transparent;
  text-underline-position: under;
  transition: color var(--timing-fast) var(--easing-default), text-decoration var(--timing-fast) var(--easing-default);

  &:hover {
    color: var(--color-text-tomato);
    text-decoration: underline;
    text-decoration-color: var(--color-link-hover-underline);
  }

  &:active {
    color: var(--color-text-light);
  }

  :global(._touchDevice) &:hover {
    color: var(--color-text-dark);
    text-decoration: none;
    text-decoration-color: transparent;
  }
}
