/* Fonts */
:root {
  --font-walsheim-light: 'gt_walsheim_prolight', 'Helvetica', sans-serif;
  --font-walsheim-regular: 'gt_walsheim_proregular', 'Helvetica', sans-serif;
  --font-freight-light: 'freightbiglightregular', 'Helvetica', sans-serif;
  --font-freight-light-italic: 'freightbiglightitalicregular', 'Helvetica', sans-serif;
  --font-freight-book: 'freightbigbookregular', 'Helvetica', sans-serif;
  --font-freight-book-italic: 'freightbigbookitalicregular', 'Helvetica', sans-serif;
}

/* Colors */
:root {
  --color-text-dark: #222222;
  --color-text-light: #8d8c8a;
  --color-text-tomato: #d9542b;

  --color-background-white: #fff;
  --color-background-light-gray: #faf9f7;
  --color-background-light-green-gray: #f4f4f1;
  --color-background-green-gray: #e7e7dd;

  --color-secondary-light: #f9eecd;
  --color-secondary-medium: #ebdcc0;

  --color-light-border: rgba(141, 140, 138, 0.25);
  --color-link-hover-underline: rgba(151, 151, 151, 0.35);
}

/* Grid */
:root {
  --grid-columns-sm: 6;
  --grid-columns-md: 12;
  --grid-columns-lg: 12;

  --grid-margin-sm: 20px;
  --grid-margin-md: 20px;
  --grid-margin-lg: 20px;

  --grid-gutter-sm: 22px;
  --grid-gutter-md: 28px;
  --grid-gutter-lg: 20px;

  --grid-container-lg: 940px;
}

/* Dimensions */
:root {
  --max-content-width: 1600px;
}

/* Timings */
:root {
  --timing-fast: 0.2s;
  --timing-medium: 0.4s;
  --timing-slow: 0.6s;
}

/* Easings */
:root {
  --easing-default: cubic-bezier(.25, .1, .25, 1);
}
