/* Fonts */
:root {
  --font-walsheim-light: 'gt_walsheim_prolight', 'Helvetica', sans-serif;
  --font-walsheim-regular: 'gt_walsheim_proregular', 'Helvetica', sans-serif;
  --font-freight-light: 'freightbiglightregular', 'Helvetica', sans-serif;
  --font-freight-light-italic: 'freightbiglightitalicregular', 'Helvetica', sans-serif;
  --font-freight-book: 'freightbigbookregular', 'Helvetica', sans-serif;
  --font-freight-book-italic: 'freightbigbookitalicregular', 'Helvetica', sans-serif;
}

/* Colors */
:root {
  --color-text-dark: #222222;
  --color-text-light: #8d8d8a;
  --color-text-tomato: #d9542b;

  --color-background-white: #fff;
  --color-background-light-gray: #faf9f7;
  --color-background-light-green-gray: #f4f4f1;
  --color-background-green-gray: #e7e7dd;

  --color-secondary-light: #f9eecd;
  --color-secondary-medium: #ebdcc0;
}
