@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/typography.css';
@import '../../../../assets/styles/includes/variables.css';

.arrow {
  margin-left: 9px;
}

.languages {
  @mixin component-container;
  padding-bottom: 73px;
  padding-top: 11px;
  position: relative;
  text-align: right;
}

.languageItems {
  margin: 0;
  padding: 0;
}

.languageItem {
  display: inline-block;
  list-style: none;
  margin-left: 20px;

  button {
    @mixin type-language;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
  }
}

.regionSelect,
.languageSelect {
  background-color: var(--color-background-white);
  box-shadow: var(--color-light-border) 3px 3px 10px;
  cursor: pointer;
  display: none;
  padding: 12px 10px;
  position: absolute;
  z-index: 10;

  li {
    list-style: none;
  }

  button {
    @mixin type-language-select;
    background: none;
    border: none;
    color: var(--color-text-light);
    display: block;
    padding: 0 10px;
    text-align: left;

    &:hover {
      background-color: var(--color-secondary-light);
      color: var(--color-text-dark);
      text-decoration: none;
    }
  }
}

.selected {
  button {
    color: var(--color-text-dark);
  }
}

.regionSelect_isActive,
.languageSelect_isActive {
  display: block;
}