@import '../../assets/styles/includes/breakpoints.css';
@import '../../assets/styles/includes/grid.css';
@import '../../assets/styles/includes/mixins.css';
@import '../../assets/styles/includes/typography.css';
@import '../../assets/styles/includes/variables.css';

.wrapper {
  @mixin type-paragraph;
  background-color: var(--color-secondary-light);
  left: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.wrapper:not(.wrapper_isHidden) {
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100%;

  @media (--bp-sm-only) {
    padding-left: var(--component-wrapper-margin-sm);
    padding-right: var(--component-wrapper-margin-sm);
  }

  @media (--bp-md-only) {
    padding-left: var(--component-wrapper-margin-md);
    padding-right: var(--component-wrapper-margin-md);
  }

  @media (--bp-lg) {
    padding-left: var(--component-wrapper-margin-lg);
    padding-right: var(--component-wrapper-margin-lg);
  }
}

.wrapper_isHidden {
  padding: 5px;
}

.grid {
  @mixin grid-container;
  flex-wrap: wrap;
}

.lastBuildWrapper {
  @mixin full-width-column-sm;

  @media (--bp-md) {
    @mixin span 8, var(--grid-columns-md), md;
  }
}

.buttonWrapper {
  @mixin span 2, var(--grid-columns-sm), sm;

  @media (--bp-md) {
    @mixin span 6, var(--grid-columns-md), md;
  }
}

.pollingWrapper {
  @mixin span 2, var(--grid-columns-sm), sm;

  @media (--bp-md) {
    @mixin span 2, var(--grid-columns-md), md;
  }
}

.buttonList {
  @mixin reset-list;

  @media (--bp-md) {
    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.lastBuild {
  @mixin type-h3;

  @media (--bp-sm-only) {
    display: block;
    margin-bottom: 12px;
    margin-top: 2px;
  }
}

.button {
  @mixin reset-button;
}

.button,
.link {
  @mixin inline-type-link;
}
