@import "../../../../assets/styles/includes/breakpoints.css";
@import "../../../../assets/styles/includes/typography.css";

.listItem {
  margin-bottom: 0;
  padding-bottom: 26px;

  @media (--bp-md) {
    padding-bottom: 29px;
    padding-left: 19px;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.title {
  @mixin type-descriptor;
  @mixin font-family font-sans-serif-regular;
  display: block;
  font-weight: 500;
}

.description {
  @mixin type-caption;
  @mixin markdown-support;
  font-weight: 300;
}
