@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/typography.css';
@import '../../../assets/styles/includes/variables.css';

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
  padding-bottom: 20px;

  @media (--bp-md) {
    padding-bottom: 35px;
  }

  &_home {
    @media (--bp-sm-only) {
      padding-bottom: 34px;
      padding-top: 35px;
    }

    @media (--bp-md) {
      padding-bottom: 16px;
      padding-top: 50px;
    }

    @media (--bp-lg) {
      padding-bottom: 56px;
      padding-top: 96px;
    }
  }
}

.pageHead {
  @mixin grid-container;
  img {
    display: block;
    width: 100%;
  }

  picture:last-child {
    padding-bottom: 10px;

    @media (--bp-md) {
      padding-bottom: 25px;
    }
  }

  picture:not(:last-child) {
    padding-bottom: 20px;

    @media (--bp-md) {
      padding-bottom: 35px;
    }
  }
}

.subhead {
  @mixin type-h2-italic;

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    padding-bottom: 20px;

    @media (--bp-md) {
      padding-bottom: 35px;
    }
  }
}

.wrapper .pageHead .subhead {
  margin-bottom: 0;
}

.subhead_subCategory {
  @mixin type-h2-italic;
}

.parallaxTitle {
  @mixin span 4, var(--grid-columns-sm), sm;
  @mixin component-vertical-spacing;
  position: relative;

  @media (--bp-md) {
    @mixin span 8, var(--grid-columns-md), md;
  }

  @media (--bp-lg) {
    @mixin span 8, var(--grid-columns-lg), lg;

    .wrapper_category:not(.wrapper_hasImage) & {
      padding-bottom: 0;
    }
  }

  &.typeCategory_isSingle,
  &.typeArticle_isSingle {
    padding-bottom: 0;
  }
}

.wrapper_category .pageHead {
  flex-wrap: wrap;

  .parallaxTitle {
    @media (--bp-lg) {
      @mixin span 9, var(--grid-columns-lg), lg;
      padding-right: calc(var(--grid-gutter-lg) * 2);
    }
  }

  picture {
    @mixin span 4, var(--grid-columns-sm), sm;

    @media (--bp-md) {
      @mixin span 8, var(--grid-columns-md), md;
    }

    @media (--bp-lg) {
      @mixin span 12, var(--grid-columns-lg), lg;
    }
  }

  .subhead {
    @mixin span 4, var(--grid-columns-sm), sm;

    @media (--bp-md-only) {
      @mixin span 8, var(--grid-columns-md), md;
      margin-top: 0;
    }

    @media (--bp-lg) {
      @mixin span 3, var(--grid-columns-lg), lg;
      padding-top: 60px;
    }
  }
}

.wrapper_home .pageHead {
  flex-direction: column;

  @media (--bp-lg) {
    align-items: center;
  }

  .parallaxTitle {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.wrapper_article .pageHead {
  flex-direction: column;

  @media (--bp-lg) {
    align-items: center;
  }

  picture {
    @mixin span 4, var(--grid-columns-sm), sm;

    @media (--bp-md) {
      @mixin span 8, var(--grid-columns-md), md;
    }

    @media (--bp-lg) {
      @mixin span 10, var(--grid-columns-lg), lg;
    }
  }

  .subhead {
    @mixin span 4, var(--grid-columns-sm), sm;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 10px;

    @media (--bp-md) {
      @mixin span 6, var(--grid-columns-md), md;
      margin-top: 0;
      padding-bottom: 25px;
    }

    @media (--bp-lg) {
      @mixin span 6, var(--grid-columns-lg), lg;
      text-align: center;
    }

    &.subhead_withBorder {
      &:after {
        border-bottom: 1px solid var(--color-text-light);
        content: '';
        display: block;
        padding-bottom: 20px;

        @media (--bp-md) {
          padding-bottom: 35px;
        }
      }
    }
  }
}

.pageHead_subCategory {
  @mixin type-h2-italic;
}
