@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/typography.css';
@import '../../../assets/styles/includes/variables.css';

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
  padding-bottom: 20px;

  @media (--bp-md) {
    padding-bottom: 35px;
  }
}

.pageHead {
  @mixin grid-container;
  img {
    display: block;
    width: 100%;
  }

  picture:last-child {
    padding-bottom: 10px;

    @media (--bp-md) {
      padding-bottom: 25px;
    }
  }

  picture:not(:last-child) {
    padding-bottom: 20px;

    @media (--bp-md) {
      padding-bottom: 35px;
    }
  }

  :global(.headline):last-child {
    padding-bottom: 0;
  }
}

.subhead {
  @mixin type-h2-italic;

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    padding-bottom: 20px;

    @media (--bp-md) {
      padding-bottom: 35px;
    }
  }
}

.wrapper .pageHead .subhead {
  margin-bottom: 0;
}

.subhead_subCategory {
  @mixin type-h2-italic;
}

.pageHead_category {
  flex-wrap: wrap;

  h1 {
    @mixin span 4, var(--grid-columns-sm), sm;

    @media (--bp-md) {
      @mixin span 8, var(--grid-columns-md), md;
    }

    @media (--bp-lg) {
      @mixin span 9, var(--grid-columns-lg), lg;
      padding-right: calc(var(--grid-gutter-lg) * 2);
    }
  }

  picture {
    @mixin span 4, var(--grid-columns-sm), sm;

    @media (--bp-md) {
      @mixin span 8, var(--grid-columns-md), md;
    }

    @media (--bp-lg) {
      @mixin span 12, var(--grid-columns-lg), lg;
    }
  }

  .subhead {
    @mixin span 4, var(--grid-columns-sm), sm;

    @media (--bp-md-only) {
      @mixin span 8, var(--grid-columns-md), md;
      margin-top: 0;
    }

    @media (--bp-lg) {
      @mixin span 3, var(--grid-columns-lg), lg;
      padding-top: 60px;
    }
  }
}

.pageHead_home {
  flex-direction: column;

  @media (--bp-lg) {
    align-items: center;
  }

  h1 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .parallaxTitle {
    @mixin span 4, var(--grid-columns-sm), sm;

    @media (--bp-sm-only) {
      transform: translateY(60px);
    }

    @media (--bp-md) {
      @mixin span 8, var(--grid-columns-md), md;
      transform: translateY(105px);
    }

    @media (--bp-lg) {
      @mixin span 8, var(--grid-columns-lg), lg;
    }
  }
}

.pageHead_article {
  flex-direction: column;

  @media (--bp-lg) {
    align-items: center;
  }

  h1 {
    @mixin span 4, var(--grid-columns-sm), sm;

    @media (--bp-md) {
      @mixin span 8, var(--grid-columns-md), md;
    }

    @media (--bp-lg) {
      @mixin span 8, var(--grid-columns-lg), lg;
    }
  }

  picture {
    @mixin span 4, var(--grid-columns-sm), sm;

    @media (--bp-md) {
      @mixin span 8, var(--grid-columns-md), md;
    }

    @media (--bp-lg) {
      @mixin span 10, var(--grid-columns-lg), lg;
    }
  }

  .subhead {
    @mixin span 4, var(--grid-columns-sm), sm;
    font-size: 30px;
    line-height: 36px;

    @media (--bp-md) {
      @mixin span 6, var(--grid-columns-md), md;
      margin-top: 0;
    }

    @media (--bp-lg) {
      @mixin span 6, var(--grid-columns-lg), lg;
      text-align: center;
    }

    &.subhead_withBorder {
      &:after {
        @mixin component-vertical-spacing;
        border-bottom: 1px solid var(--color-text-light);
        content: '';
        display: block;
      }
    }
  }
}

.pageHead_subCategory {
  @mixin type-h2-italic;
}
