@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/typography.css';

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.pageHead {
  @mixin grid-container;
  img {
    display: block;
    width: 100%;
  }

  picture:not(:last-child) {
    padding-bottom: 30px;

    @media (--bp-md) {
      padding-bottom: 60px;
    }
  }
}

.subhead {
  @mixin type-h2-italic;

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    padding-bottom: 30px;

    @media (--bp-md) {
      padding-bottom: 60px;
    }
  }
}

.wrapper .pageHead .subhead {
  margin-bottom: 0;
}

.subhead_subCategory {
  @mixin type-h2-italic;
}

.pageHead_category {
  flex-wrap: wrap;

  h1 {
    @mixin span 4, 4, sm;

    @media (--bp-md) {
      @mixin span 8, 8, md;
    }

    @media (--bp-lg) {
      @mixin span 9, 12, lg;
      padding-right: calc(var(--grid-gutter-lg) * 2);
    }
  }

  picture {
    @mixin span 4, 4, sm;

    @media (--bp-md) {
      @mixin span 8, 8, md;
    }

    @media (--bp-lg) {
      @mixin span 12, 12, lg;
    }
  }

  .subhead {
    @mixin span 4, 4, sm;

    @media (--bp-md-only) {
      @mixin span 8, 8, md;
      margin-top: 0;
    }

    @media (--bp-lg) {
      @mixin span 3, 12, lg;
      padding-top: 60px;
    }
  }
}

.pageHead_home {
  flex-direction: column;

  @media (--bp-lg) {
    align-items: center;
  }

  h1 {
    @mixin span 4, 4, sm;

    @media (--bp-md) {
      @mixin span 8, 8, md;
    }

    @media (--bp-lg) {
      @mixin span 8, 12, lg;
    }
  }

  picture {
    @mixin span 4, 4, sm;

    @media (--bp-md) {
      @mixin span 8, 8, md;
    }

    @media (--bp-lg) {
      @mixin span 10, 12, lg;
    }
  }
}

.pageHead_article {
  flex-direction: column;

  @media (--bp-lg) {
    align-items: center;
  }

  h1 {
    @mixin span 4, 4, sm;

    @media (--bp-md) {
      @mixin span 8, 8, md;
    }

    @media (--bp-lg) {
      @mixin span 8, 12, lg;
    }
  }

  picture {
    @mixin span 4, 4, sm;

    @media (--bp-md) {
      @mixin span 8, 8, md;
    }

    @media (--bp-lg) {
      @mixin span 10, 12, lg;
    }
  }

  .subhead {
    @mixin span 4, 4, sm;
    font-size: 30px;
    line-height: 36px;

    @media (--bp-md) {
      @mixin span 6, 8, md;
      margin-top: 0;
    }

    @media (--bp-lg) {
      @mixin span 6, 12, lg;
      text-align: center;
    }
  }
}

.pageHead_subCategory {
  @mixin type-h2-italic;
}
