@import '../../../../assets/styles/includes/breakpoints.css';
@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/typography.css';

@define-mixin video-item-title-link {
  @mixin type-h5;

  @media (--bp-lg) {
    .wrapper_isSmall & {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

.wrapper {
  margin: 0;
  position: relative;
}

.contentWrapper {
  padding-top: 34px;

  .wrapper_isSmall & {
    padding-top: 20px;
  }

  @media (--bp-md) {
    padding-top: 40px;

    .wrapper_isSmall & {
      padding-top: 40px;
    }
  }

  @media (--bp-lg) {
    padding-top: 40px;

    .wrapper:not(.wrapper_isSmall) &,
    .wrapper_isSecond & {
      position: absolute;
    }

    .wrapper_isSmall & {
      padding-top: 20px;
    }
  }
}

.content {
  @media (--bp-md) {
    @mixin nested-grid-container;
  }
}

.description {
  @mixin type-paragraph;

  @media (--bp-md) {
    @mixin span 4, var(--grid-columns-md), md;
    line-height: 24px;
  }

  @media (--bp-lg) {
    @mixin span 3, 6, lg;

    .wrapper_isSmall & {
      display: none;
    }
  }
}

.titleWrapper {
  .wrapper:not(.wrapper_isSmall).wrapper_hasPlayButton & {
    padding-left: 14px;
  }

  @media (--bp-md-only) {
    @mixin span 4, var(--grid-columns-md), md;
  }

  @media (--bp-lg) {
    width: 100%;

    .wrapper:not(.wrapper_isSmall) & {
      @mixin span 3, 6, lg;
    }
  }

  @mixin small-video-wrapper;
}

.title {
  @mixin video-item-title-link;
  margin-bottom: 20px;

  @media (--bp-md) {
    margin-bottom: 10px;
  }

  .titleWrapper_hasLink & {
    @media (--bp-lg-lower-only) {
      display: none;
    }
  }
}

.link {
  @mixin type-link;
  @mixin type-link-default-size;

  .titleWrapper_hasLink & {
    @media (--bp-lg-lower-only) {
      &:hover {
        text-decoration: none;
        text-decoration-color: transparent;
      }
    }
  }
}

.defaultLinkText {
  @media (--bp-lg-lower-only) {
    display: none;
  }
}

.linkTitleText {
  @mixin video-item-title-link;
  @mixin type-h5-link var(--color-background-light-gray);
  display: none;

  @media (--bp-lg-lower-only) {
    display: inline;
  }
}
