@import '../assets/styles/includes/mixins.css';

.moduleWrapper {
  /*@mixin component-container;*/
}

.component {
  border-bottom: dashed 1px var(--color-light-border);
}

.componentInfo {
  font-size: 14px;
  padding: 20px;
  &:not(:first-of-type) {
    border-top: 1px dotted #000;
    margin-top: 20px;
  }
}
