@import '../assets/styles/includes/breakpoints.css';
@import '../assets/styles/includes/variables.css';
@import '../assets/styles/includes/typography.css';
@import '../assets/styles/includes/grid.css';
@import '../assets/styles/includes/typography.css';
@import '../assets/styles/includes/mixins.css';

.wrapper {
  @mixin component-wrapper;
  background-color: var(--color-background-light-green-gray);
}

.guide {
  @mixin component-container;
  padding: 20px;
}

.block {
  border-bottom: solid 1px #dcdcdc;
  margin-bottom: 20px;
  padding: 20px 0;
}

.display {
  @mixin type-display;
}

.heading1Home {
  @mixin type-h1-home;
}

.heading1Category {
  @mixin type-h1-category;
}

.heading1Article {
  @mixin type-h1-article;
}

.heading2 {
  @mixin type-h2;
}

.heading2Italic {
  @mixin type-h2-italic;
}

.heading3 {
  @mixin type-h3;
}

.heading3Italic {
  @mixin type-h3-italic;
}

.heading4 {
  @mixin type-h4;
}

.heading4Italic {
  @mixin type-h4-italic;
}

.heading5Italic {
  @mixin type-h5-italic;
}

.paragraph {
  @mixin type-paragraph;
}

.link {
  @mixin type-link;
}

.nav {
  @mixin type-nav;
}

.descriptor {
  @mixin type-descriptor;
}

.caption {
  @mixin type-caption;
}

.footer {
  @mixin type-footer;
}

.eyebrow {
  @mixin type-eyebrow;
}

.video {
  @mixin type-video;
}

.carousel {
  @mixin type-carousel;
}

.menu {
  @mixin type-menu;
}
