@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/typography.css';

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.container {
  @mixin grid-container;

  &:before {
    content: '';
    display: block;
    @media (--bp-lg) {
      @mixin span 3, 12, lg;
    }
  }
}

.sectionTitle {
  @mixin type-h3-italic;
  display: flex;
  margin-bottom: 0;

  @media (--bp-sm-only) {
    @mixin span 4, 4, sm;
  }

  @media (--bp-md) {
    @mixin span 6, 8, md;
  }

  @media (--bp-lg) {
    @mixin span 6, 12, lg;
  }
}

.number {
  @mixin type-h3;
  @mixin three-up-section-title-padding-right;
  border-right: solid 1px var(--color-light-border);
  width: 65px;

  @media (--bp-lg) {
    width: 70px;
  }
}

.title {
  @mixin three-up-section-title-padding-left;
}
