@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/variables.css';
@import '../../../assets/styles/includes/grid.css';

.wrapperAbsolute {
  bottom: 0;
  left: -var(--component-wrapper-margin-lg);
  position: absolute;
  width: 100vw;
}

.wrapper_isHidden {
  visibility: hidden;
}

.wrapper {
  border-radius: 50%;
  bottom: 20px;
  height: var(--fab-size-sm);
  opacity: 0;
  padding: 0;
  position: fixed;
  right: calc(var(--container-margin-sm) + var(--component-wrapper-margin-sm));
  width: var(--fab-size-sm);
  z-index: 10;

  @media (--bp-sm-only) {
    background-color: var(--color-background-white);
    box-shadow: 0px 5px 10px 0px var(--color-fab-shadow);
    padding: 10px;
  }

  @media (--bp-sm-upper-only) {
    right: calc(var(--container-margin-sm-upper-only) + var(--component-wrapper-margin-sm));
  }

  @media (--bp-md) {
    bottom: 40px;
    height: var(--fab-size-md);
    right:
      calc(var(--container-margin-md)
      + ((100vw - (2 * var(--container-margin-md)))/var(--grid-columns-md))
      + var(--grid-gutter-md)
      - ((var(--fab-size-md) + var(--grid-gutter-md)) / 2));
    width: var(--fab-size-md);
  }

  @media (--bp-lg) {
    height: var(--fab-size-lg);
    left:
      calc(var(--container-margin-lg) + var(--component-wrapper-margin-lg)
      + ((((100vw - (2 * var(--container-margin-lg)) - (2 * var(--component-wrapper-margin-lg))) + (2 * var(--grid-gutter-lg))) / var(--grid-columns-lg)) * (var(--grid-columns-lg) - 1) )
      - (var(--grid-gutter-lg) / 2)
      - ((var(--fab-size-lg)  / 2)));
    opacity: 1;
    right: 0;
    transform: translateY(390px);
    width: var(--fab-size-lg);

    .contentText {
      animation: fabStartPosition 0;
    }

    &:hover {
      .contentText {
        animation: fabHover 3s linear infinite;
      }
    }
  }

  @media (--bp-xl) {
    left:
      calc(((100vw - var(--container-xl)) / 2)
      + ((var(--container-xl) / var(--grid-columns-lg)) * (var(--grid-columns-lg) - 1))
      + var(--grid-gutter-lg)
      - (var(--fab-size-lg) / 2));
    right: 0;
  }

  &:global(.Plx--in-secondLG) { /* stylelint-disable-line */
    position: absolute;
  }
}

@keyframes fabHover {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

@keyframes fabStartPosition {
  100% {transform: rotate(0);}
}

.content {
  height: 100%;
  transform: translate3d(0,0,0);
  width: 100%;
}

.fabArrow {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 31px;

  @media (--bp-lg) {
    width: 50px;
  }
}

.fabLink {
  display: block;
  max-height: 100%;
  max-width: 100%;

  @media (--bp-sm-only) {
    padding: .25rem 0 0 .2rem;
  }
}
