@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/mixins.css';

.postWrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.post {
  @mixin grid-container;
}

.dateContainer {
  @media (--bp-sm-only) {
    @mixin span 1, 4, sm;
  }

  @media (--bp-md-only) {
    @mixin span 1, 8, md;
  }

  @media (--bp-lg) {
    @mixin span 1, 12, lg;
    @mixin custom-column 1, 12, margin-left;
  }
}

.content {
  @media (--bp-sm-only) {
    @mixin span 3, 4, sm;
  }

  @media (--bp-md-only) {
    @mixin span 5, 8, md;
  }

  @media (--bp-lg) {
    @mixin span 8, 12, lg;
  }
}

.postWrapper {
  &:not(:last-of-type) {
    .content {
      border-bottom: solid 1px var(--color-light-border);

      @media (--bp-sm-only) {
        padding-bottom: 38px;
      }

      @media (--bp-md-only) {
        padding-bottom: 56px;
      }

      @media (--bp-lg) {
        padding-bottom: 47px;
      }
    }
  }
}

.source {
  @mixin type-eyebrow;
  display: inline-block;
  margin-bottom: 20px;

  @media (--bp-md-only) {
    margin-bottom: 25px;
  }

  @media (--bp-lg) {
    margin-bottom: 22px;
  }
}

.title {
  @mixin type-h2;
  font-size: 30px;
  letter-spacing: 0.23px;

  @media (--bp-sm-only) {
    margin-bottom: 14px;
  }

  @media (--bp-md) {
    font-size: 72px;
    letter-spacing: 0;
    line-height: 70px;
    margin-bottom: 8px;
  }

  @media (--bp-lg) {
    letter-spacing: 0.5px;
    margin-bottom: 15px;
  }
}

.text {
  @mixin type-descriptor;
  letter-spacing: 0.39px;
  line-height: 24px;
  margin-bottom: 14px;

  @media (--bp-md) {
    letter-spacing: 0;
    margin-bottom: 21px;
  }

  @media (--bp-lg) {
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.readMore {
  @mixin type-link;
  @mixin type-link-default-size;
}
