@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/typography.css';
@import '../../../assets/styles/includes/variables.css';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--bp-sm-only) {
    padding-top: 40px;
  }
}

.container {
  @mixin grid-container;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 74px;
  padding-bottom: 12px;
  position: relative;

  @media (--bp-md) {
    padding-bottom: 29px;

    &_isMenuOpen {
      padding-bottom: 7px;
    }
  }

  @media (--bp-lg) {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 24px;
  }
}

.toggleMenu {
  @mixin type-menu;
  background-color: transparent;
  border: none;
  height: 40px;

  @media (--bp-lg) {
    display: none;
  }
}
