@import '../../../../assets/styles/includes/variables.css';
@import '../../../../assets/styles/includes/breakpoints.css';
@import '../../../../assets/styles/includes/grid.css';
@import '../../../../assets/styles/includes/typography.css';

.wrapper {
  @mixin full-width-column-sm;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (--bp-sm-and-md-only) {
    margin-bottom: 70px;
  }

  @media (--bp-md) {
    @mixin span 4, var(--grid-columns-md), md;
  }

  @media (--bp-lg) {
    @mixin span 6, var(--grid-columns-lg), lg;
    flex-direction: row;
  }
}

.text {
  @mixin type-h5-italic;
  letter-spacing: 0.25px;
  opacity: 0.9;
  width: 100%;

  @media (--bp-sm-and-md-only) {
    margin-bottom: 40px;
  }

  @media (--bp-lg) {
    flex-basis: 50%;
  }

  :global(.wrapper_isChinese) & {
    @media (--bp-lg) {
      padding-right: var(--grid-gutter-lg);
      text-align: right;
    }
  }
}

.icons {
  @mixin type-h5-italic;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  letter-spacing: 0.25px;
  margin-left: 0;
  opacity: 0.9;

  @media (--bp-lg) {
    flex-basis: calc(50% - 10px);
    justify-content: space-between;
    margin-left: 10px;
  }
}

.icon {
  flex-basis: auto;
  margin-right: 0;
  opacity: 0.8;
  padding: 0;
  width: auto;

  @media (--bp-sm-only) {
    flex-basis: calc((100% - (6 * var(--grid-gutter-sm))) / 4);
    width: calc((100% - (6 * var(--grid-gutter-sm))) / 4);
    &:not(:last-child) {
      margin-right: calc(2 * var(--grid-gutter-sm));
    }
  }

  @media (--bp-md-only) {
    flex-basis: calc((100% - (6 * var(--grid-gutter-md))) / 4);
    width: calc((100% - (6 * var(--grid-gutter-md))) / 4);
    &:not(:last-child) {
      margin-right: calc(2 * var(--grid-gutter-md));
    }
  }

  &:hover {
    opacity: 1;
  }
}
