@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/grid.css';
@import '../../../../assets/styles/includes/typography.css';
@import '../../../../assets/styles/includes/variables.css';

.arrow {
  margin-left: 9px;
}

.locales {
  @media (--bp-sm-only) {
    display: none;

    &.locales_isSmall {
      display: block;
    }
  }

  @media (--bp-md) {
    @mixin component-container;

    &.locales_isSmall {
      display: none;
    }
  }

  padding-bottom: 73px;
  padding-top: 11px;
  position: relative;
  text-align: right;
}

.localesItems {
  @media (--bp-sm-only) {
    @mixin span 4, 4, md;
    @mixin nested-grid-container;
  }
}

.localesItem {
  @media (--bp-sm-only) {
    @mixin span 2, 4, sm;
  }

  display: inline-block;
  list-style: none;
}
