@import '../../../../assets/styles/includes/variables.css';
@import '../../../../assets/styles/includes/grid.css';
@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/breakpoints.css';
@import '../../../../assets/styles/includes/typography.css';

.submenu {
  background-color: var(--color-background-light-gray);
  @media (--bp-sm-only) {
    padding-top: 10px;
  }

  @media (--bp-md) {
    padding-top: 40px;
  }

  @media (--bp-lg) {
    padding-top: 50px;
  }
}

.submenuContainer {
  @mixin component-container;
  border-bottom: solid 2px var(--color-text-dark);

  @media (--bp-sm-only) {
    padding-bottom: 29px;
  }

  @media (--bp-lg) {
    padding-bottom: 27px;
  }
}

.items {
  @mixin reset-list;
  @mixin grid-container;
  justify-content: space-between;

  @media (--bp-sm-and-md-only) {
    flex-wrap: wrap;
  }
}

.titleContainer {
  @media (--bp-sm-only) {
    @mixin span 2, 4, sm;
    margin-bottom: 0;
    padding-top: 20px;
  }

  @media (--bp-md) {
    @mixin span 2, 8, lg;
    margin-bottom: 41px;
  }

  @media (--bp-lg) {
    @mixin span 2, 12, lg;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 21px;
  }
}

.title {
  @mixin type-h5-italic;

  @media (--bp-sm-only) {
    padding-bottom: 33px;
  }

  @media (--bp-md) {
    padding-right: 20px;
  }

  @media (--bp-lg) {
    border: none;
    padding: 0;
  }
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (--bp-sm-only) {
    @mixin span 2, 4, sm;
    margin-bottom: 0;
    padding-top: 20px;

    .itemLinkWrapper {
      padding-bottom: 25px;
    }
  }

  @media (--bp-md-only) {
    @mixin span 3, 8, md;
    margin-bottom: 41px;

    &:nth-of-type(odd) {
      .itemLinkWrapper {
        border-left: solid 1px var(--color-light-border);
        padding: 0 24px 0 20px;
      }
    }

    &:nth-of-type(4n) {
      @mixin custom-column 2, 8, margin-left, md;
    }
  }

  @media (--bp-lg) {
    width: 100%;

    .itemLinkWrapper {
      padding: 0 60px 0 20px;
    }

    &:nth-of-type(2) {
      padding-left: var(--grid-gutter-lg);

      .itemLinkWrapper {
        padding-left: 0;
      }
    }
  }

  .itemLinkWrapper {
    align-content: flex-start;
    height: 100%;

    @media (--bp-md-only) {
      padding-right: 44px;
    }

    @media (--bp-lg) {
      border-right: solid 1px var(--color-light-border);
    }
  }

  .itemLink {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
  }

  &.item_smallLastItem {
    &:after {
      display: none;
    }
  }

  &:last-of-type {
    .itemLinkWrapper {
      border-right: none;
    }
  }

  &:nth-of-type(3n) {
    @media (--bp-sm-only) {
      .itemLinkWrapper {
        border-right: none;
      }
    };
  }

  &Checked {
    display: block;
    margin-right: 16px;
  }

  &Number {
    @mixin type-link;
    margin-right: 16px;
  }

  &TitleContainer {
    display: flex;
  }

  &Title {
    @mixin type-link;

    @media (--bp-md) {
      height: 32px;
    }
  }

  &Description {
    @mixin type-sub-nav;
    align-self: flex-end;
    color: var(--color-text-dark);
    display: none;
    flex-basis: 100%;
    font-weight: 200;
    margin-right: 15px;
    padding-top: 10px;
    position: relative;
    width: 100%;

    @media (--bp-md) {
      display: block;
    }
  }

  &.item_active {
    .itemNumber,
    .itemTitle {
      color: var(--color-text-light);
    }
  }
}

.item,
.titleContainer {
  &:after {
    @mixin span 2, 2, sm;
    align-self: flex-end;
    background-color: var(--color-light-border);
    bottom: 0;
    content: '';
    display: block;
    flex-basis: auto;
    height: 1px;
    width: 100%;

    @media (--bp-md) {
      display: none;
    }
  }
}

.items_large {
  @mixin grid-container;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (--bp-lg) {
    flex-wrap: nowrap;
  }

  .item {
    @media (--bp-md-only) {
      @mixin span 2, 8, md;

      .itemLinkWrapper {
        border-left: none;
        border-right: solid 1px var(--color-light-border);
        padding: 0 20px 0 0;
      }

      &:nth-of-type(4n) {
        margin-left: 0;
      }

      &:nth-of-type(5n) {
        @mixin custom-column 2, 8, margin-left;
      }

      &:nth-of-type(4n),
      &:last-of-type {
        .itemLinkWrapper {
          border: none;
        }
      }
    }

    @media (--bp-lg) {
      @mixin span 2, 12, lg;
    }
  }
}

.items_large .itemLinkWrapper {
  display: block;
  padding-right: 44px;

  @media (--bp-lg) {
    padding: 0 20px 0 0;
  }
}

.arrow {
  bottom: 4px;
  position: absolute;
  right: 0;
  transform: translateX(100%);

  @media (--bp-md) {
    padding-left: 7px;
  }
}
