@import '../../../../assets/styles/includes/variables.css';
@import '../../../../assets/styles/includes/grid.css';
@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/breakpoints.css';
@import '../../../../assets/styles/includes/typography.css';

.submenu {
  background-color: var(--color-background-light-gray);
  @media (--bp-sm-only) {
    padding-top: 10px;
  }

  @media (--bp-md) {
    padding-top: 40px;
  }

  @media (--bp-lg) {
    padding-top: 50px;
  }
}

.submenuContainer {
  @mixin component-container;
  border-bottom: solid 2px var(--color-text-dark);

  @media (--bp-sm-only) {
    padding-bottom: 29px;
  }

  @media (--bp-lg) {
    padding-bottom: 27px;
  }
}

.items {
  @mixin reset-list;
  @mixin grid-container;
  justify-content: space-between;

  @media (--bp-sm-and-md-only) {
    flex-wrap: wrap;
  }

  @media (--bp-lg) {
    &.items_twoCols {
      justify-content: flex-start;
    }
  }
}

.titleContainer {
  @media (--bp-sm-only) {
    @mixin span 2, 4, sm;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 20px;
  }

  @media (--bp-md) {
    @mixin span 2, 8, lg;
    margin-bottom: 41px;
  }

  @media (--bp-lg) {
    @mixin span 2, 12, lg;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 21px;
  }
}

.title {
  @mixin type-h5-italic;
  flex-grow: 1;

  @media (--bp-sm-only) {
    padding-bottom: 33px;
  }

  @media (--bp-md) {
    padding-right: 20px;
  }

  @media (--bp-lg) {
    border: none;
    padding: 0;
  }
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    .itemNumber,
    .itemTitle {
      text-decoration: underline;
    }

    .itemDescription {
      color: var(--color-text-dark);
      text-decoration: none;
    }
  }

  &.item_active {
    .itemNumber,
    .itemTitle {
      color: var(--color-text-light);
    }
  }

  @media (--bp-sm-only) {
    @mixin span 2, 4, sm;
    margin-bottom: 0;
    padding-top: 20px;

    .itemLinkWrapper {
      padding-bottom: 25px;
    }
  }

  @media (--bp-md-only) {
    @mixin span 3, 8, md;
    margin-bottom: 41px;

    &:nth-of-type(odd) {
      .itemLinkWrapper {
        border-left: solid 1px var(--color-light-border);
        padding: 0 24px 0 20px;
      }
    }

    &:nth-of-type(4n) {
      @mixin custom-column 2, 8, margin-left, md;
    }
  }

  @media (--bp-lg) {
    width: 100%;

    .itemLinkWrapper {
      padding: 0 60px 0 20px;
    }

    &:nth-of-type(2) {
      padding-left: var(--grid-gutter-lg);

      .itemLinkWrapper {
        padding-left: 0;
      }
    }

    .items_twoCols & {
      @mixin span 3, 12, lg;
    }
  }

  .itemLinkWrapper {
    align-content: flex-start;
    flex-grow: 1;

    @media (--bp-md-only) {
      padding-right: 44px;
    }

    @media (--bp-lg) {
      border-right: solid 1px var(--color-light-border);
    }
  }

  .itemLink {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
  }

  &.item_smallLastItem {
    &:after {
      display: none;
    }
  }

  &:last-of-type {
    .itemLinkWrapper {
      border-right: none;
    }
  }

  &:nth-of-type(3n) {
    @media (--bp-sm-only) {
      .itemLinkWrapper {
        border-right: none;
      }
    };
  }
}

.itemChecked {
  display: block;
}

.itemNumber {
  @mixin type-link;
}

.itemChecked,
.itemNumber {
  margin-right: 16px;
}

.itemTitleContainer {
  display: flex;
}

.itemTitle {
  @mixin type-link;

  @media (--bp-md) {
    height: 32px;
  }
}

.itemDescription {
  @mixin type-sub-nav;
  align-self: flex-end;
  color: var(--color-text-dark);
  display: block;
  flex-basis: 100%;
  font-weight: 200;
  margin-right: 15px;
  padding-top: 10px;
  position: relative;
  width: 100%;

  @media (--bp-sm-only) {
    display: none;
  }
}

.item,
.titleContainer {
  @media (--bp-sm-only) {
    &:after {
      @mixin span 2, 2, sm;
      align-self: flex-end;
      background-color: var(--color-light-border);
      bottom: 0;
      content: '';
      display: block;
      flex-basis: auto;
      height: 1px;
      width: 100%;
    }
  }
}

.items_large {
  @mixin grid-container;
  justify-content: flex-start;

  @media (--bp-sm-and-md-only) {
    flex-wrap: wrap;
  }

  .item {
    @media (--bp-md-only) {
      @mixin span 2, 8, md;

      .itemLinkWrapper {
        border-left: none;
        border-right: solid 1px var(--color-light-border);
        padding: 0 20px 0 0;
      }

      &:nth-of-type(4n) {
        margin-left: 0;
      }

      &:nth-of-type(5n) {
        @mixin custom-column 2, 8, margin-left;
      }

      &:nth-of-type(4n),
      &:last-of-type {
        .itemLinkWrapper {
          border: none;
        }
      }
    }

    @media (--bp-lg) {
      @mixin span 2, 12, lg;
    }
  }
}

.items_large .itemLinkWrapper {
  display: block;
  padding-right: 44px;

  @media (--bp-lg) {
    padding: 0 20px 0 0;
  }
}

.arrow {
  bottom: 4px;
  position: absolute;
  right: 0;
  transform: translateX(100%);

  @media (--bp-md) {
    padding-left: 7px;
  }
}
