@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/grid.css';
@import '../../../../assets/styles/includes/typography.css';
@import '../../../../assets/styles/includes/variables.css';

.locales {
  position: relative;
  text-align: right;

  @media (--bp-sm-only) {
    display: none;

    &.locales_isSmall {
      display: block;
      margin: 0;
    }
  }

  @media (--bp-md) {
    @mixin component-container;
    padding: 11px 0 42px;

    &.locales_isSmall {
      display: none;
    }
  }

  @media (--bp-lg) {
    padding-bottom: 71px;
  }
}

.localesItems {
  @media (--bp-sm-only) {
    @mixin span 4, 4, md;
    @mixin nested-grid-container;
  }
}

.localesItem {
  @media (--bp-sm-only) {
    @mixin span 2, 4, sm;
  }

  @media (--bp-md) {
    margin-left: 16px;
  }

  display: inline-block;
  list-style: none;
}
