@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/typography.css';

.typeHome {
  @mixin type-h1-home;
}

.typeCategory {
  @mixin type-h1-category;
  @mixin component-vertical-spacing;

  &.typeCategory_isSingle {
    padding-bottom: 0;
  }
}

.typeArticle {
  @mixin type-h1-article;
  @mixin component-vertical-spacing;

  &.typeArticle_isSingle {
    padding-bottom: 0;
  }

  @media (--bp-md) {
    text-align: center;
  }
}
