@import '../../../assets/styles/includes/typography.css';

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.typeHome {
  @mixin type-h1-home;
}

.typeCategory {
  @mixin type-h1-category;
}

.typeSubCategory {
  @mixin type-h1-sub-category;
}
