@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/typography.css';

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.content {
  @mixin grid-container;
  flex-wrap: wrap;
}

.share {
  @mixin text-column-width;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.shareText {
  @mixin type-share;
}

.shareIcon {
  height: 20px;
  margin-left: 50px;
  opacity: 1;

  img {
    height: 100%;
    margin-bottom: 0;
    width: auto;
  }

  a:hover {
    opacity: var(--opacity-share-icon-hover);
  }
}

.copyButton {
  @extend .shareIcon;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    opacity: var(--opacity-share-icon-hover);
  }

  img {
    pointer-events: none;
  }
}

.copyConformation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  opacity: 0;
  transition: opacity var(--timing-slow) var(--easing-default);
  width: 100%;

  @media (--bp-lg) {
    @mixin three-quart-width-column-lg;
  }

  span {
    background-color: var(--color-secondary-light);
    color: var(--color-text-dark);
    display: block;
    font-family: var(--font-sans-serif-regular);
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
}

.copyConformation_isVisible {
  opacity: 1;
}
