@import '../../assets/styles/includes/variables.css';
@import '../../assets/styles/includes/breakpoints.css';

.header {
  margin: 0 auto;

  @media (--bp-lg) {
    max-width: var(--grid-container-lg);
  }
}

.container {
  @mixin grid-container;
  margin-top: 74px;
  position: relative;
}