@import '../../assets/styles/includes/breakpoints.css';
@import '../../assets/styles/includes/grid.css';
@import '../../assets/styles/includes/variables.css';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--bp-sm-only) {
    margin: 0 calc(var(--grid-margin-sm) * 2);
  }

  @media (--bp-md) {
    margin: 0 auto;
    max-width: var(--grid-container-md);
  }

  @media (--bp-lg) {
    max-width: var(--grid-container-lg);
  }
}

.container {
  display: flex;
  justify-content: flex-end;
  margin-top: 74px;
  position: relative;
  width: 100%;
}

.toggleMenu {
  @mixin type-menu;

  @media (--bp-md) {
    display: none;
  }
}