@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/variables.css';
@import '../../../assets/styles/includes/typography.css';

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.componentWrapper {
  @mixin grid-container;
  flex-wrap: wrap;
}

.image {
  margin-bottom: 10px;
  @mixin image-column-width;

  img {
    height: auto;
    margin-bottom: 0;
    width: 100%;

    &[aria-hidden="true"] {
      visibility: hidden;
    }
  }
}

.image_isSquare {
  @media (--bp-lg) {
    @mixin half-width-column-lg;
  }
}

.caption {
  @mixin text-column-width;
  @mixin type-caption;

  @media (--bp-md) {
    @mixin span 5, var(--grid-columns-md), md;
  }
}

.caption_hasPlayButton {
  @media (--bp-sm-only) {
    margin-left: 17px;
    margin-top: 25px;
  }

  @media (--bp-md-only) {
    margin-left: calc(var(--play-button-width-md) + 25px);
  }

  @media (--bp-lg-lower-only) {
    padding-left: 30px;
  }
}
