@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/variables.css';
@import '../../../assets/styles/includes/typography.css';

.componentWrapper {
  @mixin component-vertical-spacing;
  @mixin grid-container;
  flex-wrap: wrap;
}

.image {
  margin-bottom: 10px;
  @mixin span 4, var(--grid-columns-sm), sm;

  @media (--bp-md) {
    @mixin span 6, var(--grid-columns-md), md;
  }
  @media (--bp-lg) {
    @mixin span 8, var(--grid-columns-lg), lg;
    @mixin custom-column 2, var(--grid-columns-lg), margin-left;
  }

  img {
    height: auto;
    margin-bottom: 0;
    width: 100%;

    &[aria-hidden="true"] {
      visibility: hidden;
    }
  }
}

.image_isSquare {
  @media (--bp-lg) {
    @mixin span 6, var(--grid-columns-lg), lg;
    @mixin custom-column 3, var(--grid-columns-lg), margin-left;
  }
}

.imageInner {
  height: 100%;
  position: relative;
  width: 100%;
}

.caption {
  @mixin span 4, var(--grid-columns-sm), sm;
  @mixin type-caption;

  @media (--bp-md) {
    @mixin span 5, var(--grid-columns-md), md;
  }

  @media (--bp-lg) {
    @mixin span 6, var(--grid-columns-lg), lg;
    @mixin custom-column 3, var(--grid-columns-lg), margin-left;
  }
}

.caption_isVideo {
  @media (--bp-sm-only) {
    margin-left: 10px;
    margin-top: 25px;
  }

  @media (--bp-md-only) {
    margin-left: calc(var(--play-button-width-md) + 12px);
  }

  @media (--bp-lg-lower-only) {
    padding-left: 20px;
  }
}
