@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/variables.css';
@import '../../../assets/styles/includes/typography.css';

.componentWrapper {
  @mixin grid-container;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 30px;

  @media (--bp-md) {
    margin-bottom: 40px;
    margin-top: 60px;
  }
}

.image {
  @mixin span 4, var(--grid-columns-sm), sm;

  @media (--bp-md) {
    @mixin span 6, var(--grid-columns-md), md;
  }
  @media (--bp-lg) {
    @mixin span 8, var(--grid-columns-lg), lg;
    @mixin custom-column 2, var(--grid-columns-lg), margin-left;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.caption {
  @mixin span 4, var(--grid-columns-sm), sm;
  @mixin type-caption;

  @media (--bp-sm-only) {
    margin-left: 10px;
  }

  @media (--bp-md) {
    @mixin span 5, var(--grid-columns-md), md;
    @mixin custom-column 1, var(--grid-columns-md), margin-left;
  }
  @media (--bp-lg) {
    @mixin span 6, var(--grid-columns-lg), lg;
    @mixin custom-column 3, var(--grid-columns-lg), margin-left;
  }
}
