@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/variables.css';

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.componentWrapper {
  @mixin grid-container;
  flex-wrap: wrap;
}

.componentContent {
  @mixin image-column-width;
  @mixin type-paragraph;
  min-height: 400px;

  @media (--bp-md-only) {
    @mixin custom-column 1, var(--grid-columns-md), margin-left;
  }
}

.description {
  border-bottom: 1px solid var(--color-light-border);
  margin-bottom: 36px;
  padding-bottom: 40px;

  p:last-child {
    margin-bottom: 0;
  }

  @media (--bp-md) {
    text-align: center;
  }

  @media (--bp-lg) {
    margin-bottom: 56px;
    padding-bottom: 60px;
  }
}

.componentContent > iframe {
  margin-top: -100px;
  max-width: 100%;
  opacity: 0;
  position: relative;
  z-index: 1;
}

.iframe_loaded > iframe {
  opacity: 1;
}

.loadingPlaceholder {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.loadingSpinner {
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  100% {transform: rotate(360deg);}
}
