@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/mixins.css';
@import '../../../assets/styles/includes/variables.css';

.wrapper {
  @mixin component-container;
  @mixin component-vertical-spacing;
}

.componentWrapper {
  @mixin grid-container;
  flex-wrap: wrap;
}

.componentContent {
  @mixin image-column-width;
  @mixin type-paragraph;

  @media (--bp-md-only) {
    @mixin custom-column 1, var(--grid-columns-md), margin-left;
  }
}

.description {
  border-bottom: 1px solid var(--color-light-border);
  margin-bottom: 36px;
  padding-bottom: 40px;

  p:last-child {
    margin-bottom: 0;
  }

  @media (--bp-md) {
    text-align: center;
  }

  @media (--bp-lg) {
    margin-bottom: 56px;
    padding-bottom: 60px;
  }
}
