@import '../../../../assets/styles/includes/breakpoints.css';
@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/typography.css';

.wrapper {
  display: none;

  @media (--bp-lg) {
    @mixin span 2, 12, lg;
    display: block;
  }
}

.list {
  @mixin reset-list;
}

.listItem {
  margin-bottom: 36px;
  padding-right: calc(var(--grid-gutter-lg) * 2);
}

.date {
  @mixin type-eyebrow;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.title {
  @mixin type-h4;
  font-size: 18px;
  letter-spacing: 0.75px;
  line-height: 24px;
  margin-bottom: 10px;

  span {
    display: block;
  }
}

.location {
  @mixin type-eyebrow;
  letter-spacing: 0.5px;
}
