@import '../../../../assets/styles/includes/variables.css';
@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/breakpoints.css';
@import '../../../../assets/styles/includes/typography.css';
@import '../../../../assets/styles/includes/grid.css';

.menu {
  display: none;

  @media (--bp-sm-only) {
    margin-top: 37px;
  }

  @media (--bp-lg) {
    @mixin span 10, 12, lg;
    @mixin nested-grid-container;
    display: block;
  }

  &.menu_isVisible {
    display: block;

    @media (--bp-md) {
      margin-top: 54px;
      width: 100%;
    }
  }
}

.locales {
  @media (--bp-md) {
    display: none;
  }
}

.menuItems {
  flex-wrap: wrap;

  @media (--bp-md) {
    @mixin span 8, 8, md;
    @mixin grid-container;
  }

  @media (--bp-lg) {
    flex-wrap: nowrap;
  }

  @mixin nested-grid-container;

  padding: 0;
}

.menuItem {
  @mixin span 2, 4, sm;
  box-sizing: border-box;
  list-style: none;

  @media (--bp-sm-only) {
    &:nth-of-type (even) {
      margin-right: 0;
    }
  }

  @media (--bp-md) {
    @mixin span 4, 8, md;
    padding-bottom: 0;
  }

  @media (--bp-lg) {
    @mixin span 2, 10, lg;

    &:last-of-type {
      border: none;
    }
  }

  &__link {
    @mixin type-nav;
    display: block;

    @media (--bp-sm-and-md-only) {
      border-top: solid 1px var(--color-light-border);
      padding-bottom: 26px;
      padding-top: 16px;
    }

    &._active {
      color: var(--color-light-border);
    }

    @media (--bp-lg) {
      border-right: solid 1px var(--color-light-border);
      height: 100%;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}
