@import '../../../assets/styles/includes/variables.css';
@import '../../../assets/styles/includes/breakpoints.css';
@import '../../../assets/styles/includes/grid.css';
@import '../../../assets/styles/includes/typography.css';

.wrapper {
  background-color: var(--color-background-green-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  @mixin grid-container;
  flex-wrap: wrap;
  padding-bottom: 35px;
  padding-top: 32.5px;

  @media (--bp-sm-only) {
    flex-wrap: wrap;
  }

  @media (--bp-sm-upper-only) {
    flex-wrap: wrap;
  }

  @media (--bp-md) {
    padding-bottom: 50px;
    padding-top: 65px;
  }

  @media (--bp-lg) {
    padding-bottom: 75px;
  }
}

.menuBlock {
  display: flex;
  flex-direction: column;
  height: auto;

  @media (--bp-sm-only) {
    @mixin span 4, var(--grid-columns-sm), sm;
    border-bottom: 1px solid var(--color-light-border);
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  @media (--bp-sm-upper-only) {
    @mixin span 4, var(--grid-columns-sm), sm;
  }

  @media (--bp-md) {
    @mixin span 2, var(--grid-columns-md), md;
    margin-bottom: 30px;
  }

  @media (--bp-lg) {
    @mixin span 2, var(--grid-columns-lg), lg;
  }
}

.menuBlockInMultiple {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

  @media (--bp-sm-only) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.menuBlockItemWrapper {
  margin-bottom: 30px;
  width: 100%;

  @media (--bp-md) {
    width: 70%;
  }
}

.menuBlockItemWrapper_noSub {
  @media (--bp-md) {
    padding-bottom: 32.5px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-dark-border);
    }
  }
}

.menuBlockItem {
  @mixin type-nav;
}

.menuBlockItemWrapper:not(.menuBlockItemWrapper_noSub) {
  min-height: 36px;
}

.menuBlockSubItemWrapper {
  margin-bottom: 25px;
  width: 70%;

  @media (--bp-sm-only) {
    width: calc(50% - 5px);
    &:nth-child(odd) {
      margin-left: 10px;
    }
  }
}

.menuBlockSubItem {
  @mixin type-sub-nav;
}

.menuBlockItem,
.menuBlockSubItem {
  width: auto;

  @media (--bp-md) {
    display: block;
    max-width: 100px;
  }
}

.copyright {
  @mixin span 4, var(--grid-columns-sm), sm;
  @mixin type-footer;

  @media (--bp-sm-and-md-only) {
    order: 1000;
  }

  @media (--bp-lg) {
    @mixin span 6, var(--grid-columns-lg), lg;
  }
}
