@import '../../assets/styles/includes/variables.css';
@import '../../assets/styles/includes/breakpoints.css';
@import '../../assets/styles/includes/mixins.css';

.wrapper {
  @mixin component-wrapper;
  background-color: var(--color-background-green-gray);
  display: flex;
  justify-content: center;
}

.content {
  @mixin component-content;
  padding: 75px 0;
  font-size: 30px;
}
