@import '../../../../assets/styles/includes/variables.css';
@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/breakpoints.css';
@import '../../../../assets/styles/includes/typography.css';
@import '../../../../assets/styles/includes/grid.css';

.menu {
  display: none;

  @media (--bp-sm-only) {
    margin-top: 37px;
  }

  @media (--bp-lg) {
    @mixin span 10, 12, lg;
    @mixin nested-grid-container;
    display: block;
  }

  &.menu_isVisible {
    display: block;

    @media (--bp-md) {
      margin-top: 54px;
    }
  }
}

.locales {
  @media (--bp-md) {
    display: none;
  }
}

.menuItems {
  @mixin reset-list;
  flex-wrap: wrap;

  @media (--bp-sm-only) {
    @mixin span 4, 4, sm;
    @mixin grid-container;
  }

  @media (--bp-md-only) {
    @mixin span 8, 8, md;
    @mixin grid-container;
  }

  @media (--bp-lg) {
    @mixin span 10, 10, lg;
    display: flex;
    flex-wrap: nowrap;
  }
}

.menuItem {
  @media (--bp-sm-only) {
    @mixin span 2, 4, sm;
    &:nth-of-type (even) {
      margin-right: 0;
    }
  }

  @media (--bp-md-only) {
    @mixin span 4, 8, md;
    padding-bottom: 0;
  }

  .menuItemLink {
    &_active {
      color: var(--color-text-light);
    }

    @mixin type-nav;

    display: block;

    @media (--bp-sm-and-md-only) {
      border-top: solid 1px var(--color-light-border);
      padding-bottom: 26px;
      padding-top: 16px;
    }

    @media (--bp-md-only) {
      padding-bottom: 62px;
    }

    @media (--bp-lg) {
      border-right: solid 1px var(--color-light-border);
      height: 100%;
      padding: 0 30px 0 20px;
    }
  }

  @media (--bp-lg) {
    &:first-of-type {
      .menuItemLink {
        padding-left: 0;
      }
    }

    &:last-of-type {
      a {
        border-right: none;
      }
    }
  }
}
