@import '../../../../assets/styles/includes/variables.css';
@import '../../../../assets/styles/includes/mixins.css';
@import '../../../../assets/styles/includes/breakpoints.css';
@import '../../../../assets/styles/includes/typography.css';
@import '../../../../assets/styles/includes/grid.css';

.menu {
  @media (--bp-sm-only) {
    @mixin span 4, 4, md;
    @mixin nested-grid-container;
  }

  @media (--bp-md) {
    @mixin span 8, 8, md;
    @mixin nested-grid-container;
  }

  @media (--bp-lg) {
    @mixin span 10, 12, lg;
    @mixin nested-grid-container;
  }

  &:not(.menu_isVisible) {
    .menuItemsContainer {
      @media (--bp-sm-and-md-only) {
        display: none;
      }
    }
  }

  &.menu_isVisible {
    .menuItemsContainer {
      display: block;

      @media (--bp-sm-and-md-only) {
        animation: fade-in var(--timing-slow) var(--easing-default);
      }

      @media (--bp-sm-only) {
        margin-top: 37px;
      }

      @media (--bp-md) {
        margin-top: 54px;
      }
    }
  }
}

.locales {
  @media (--bp-md) {
    display: none;
  }
}

.menuItemsContainer {
  width: 100%;
}

.menuItems {
  @mixin reset-list;
  flex-wrap: wrap;

  @media (--bp-sm-only) {
    @mixin span 4, 4, sm;
    @mixin nested-grid-container;
  }

  @media (--bp-md-only) {
    @mixin span 8, 8, md;
    @mixin nested-grid-container;
  }

  @media (--bp-lg) {
    @mixin span 10, 10, lg;
    display: flex;
    flex-wrap: nowrap;
  }
}

.menuItems_aligned {
  @media (--bp-lg) {
    @mixin nested-grid-container;
  }

  .menuItem {
    @media (--bp-lg) {
      @mixin span 2, 10, lg;

      .menuItemLinkWrapper {
        padding-left: 0;
      }
    }
  }
}

.menuItem {
  margin: 0;
  padding: 0;

  @media (--bp-sm-only) {
    @mixin span 2, 4, sm;
    &:nth-of-type (even) {
      margin-right: 0;
    }
  }

  @media (--bp-md-only) {
    @mixin span 4, 8, md;
    padding-bottom: 0;
  }

  @media (--bp-lg) {
    &:first-of-type {
      .menuItemLinkWrapper {
        padding-left: 0;

        .menuItemLink {
          display: block;
          min-width: 80px;
        }
      }
    }

    &:last-of-type {
      .menuItemLinkWrapper {
        border-right: none;
      }
    }
  }
}

.menuItemLinkWrapper {
  display: block;

  @media (--bp-sm-and-md-only) {
    border-top: solid 1px var(--color-light-border);
    padding-bottom: 26px;
    padding-top: 16px;
  }

  @media (--bp-md-only) {
    padding-bottom: 62px;
  }

  @media (--bp-lg) {
    border-right: solid 1px var(--color-light-border);
    height: 100%;
    padding: 0 30px 0 20px;
  }
}

.menuItemLink {
  &_active {
    @mixin is-disabled;
    color: var(--color-text-light);
  }

  @mixin type-nav;
  @mixin type-header-links;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
