@import '../../assets/styles/includes/grid.css';
@import '../../assets/styles/includes/mixins.css';
@import '../../assets/styles/includes/variables.css';
@import '../../assets/styles/includes/breakpoints.css';

.guide {
  @mixin component-container;
  background-color: rgba(0, 0, 0, .1);

  h2 {
    padding: 20px 0;
  }
}

.gridContainer {
  @mixin grid-container;
}

.element {
  &:after {
    background-color: gray;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }
}

.fullSize {
  @mixin grid-container;
  height: 200px;

  .element {
    height: 100%;
  }

  @media (--bp-sm-only) {
    .element {
      @mixin span 1, var(--grid-columns-sm), sm;

      &:nth-of-type(n + 5) {
        display: none;
      }
    }
  }
  
  @media (--bp-sm-upper-only) {
    .element {
      @mixin span 1, var(--grid-columns-sm-upper-only), sm;

      &:nth-of-type(n + 5) {
        display: none;
      }
    }
  }

  @media (--bp-md-only) {
    .element {
      @mixin span 1, var(--grid-columns-md), md;

      &:nth-of-type(n + 9) {
        display: none;
      }
    }
  }

  @media (--bp-lg) {
    .element {
      @mixin span 1, var(--grid-columns-lg), lg;
    }
  }
}

.halfSize {
  @media (--bp-sm-only) {
    @mixin span 2, var(--grid-columns-sm), sm;
    @mixin nested-grid-container;
  }

  @media (--bp-sm-upper-only) {
    @mixin span 2, var(--grid-columns-sm), sm;
    @mixin nested-grid-container;
  }

  @media (--bp-md-only) {
    @mixin span 4, var(--grid-columns-md), md;
    @mixin nested-grid-container;
  }

  @media (--bp-lg) {
    @mixin span 6, var(--grid-columns-lg), lg;
    @mixin nested-grid-container;
  }
  
  height: 200px;
  opacity: .7;

  @media (--bp-sm-only) {
    .element {
      @mixin span 1, 2, sm;

      &:nth-of-type(n + 3) {
        display: none;
      }
    }
  }
  
  @media (--bp-sm-upper-only) {
    .element {
      @mixin span 1, 2, sm;

      &:nth-of-type(n + 3) {
        display: none;
      }
    }
  }

  @media (--bp-md-only) {
    .element {
      @mixin span 1, 4, md;

      &:nth-of-type(n + 5) {
        display: none;
      }
    }
  }

  @media (--bp-lg) {
    .element {
      @mixin span 1, 6, lg;
    }
  }
}

.quarterSize {
  background-color: blue;
  opacity: .6;

  .element {
    height: 100%;
  }

  @media (--bp-sm-only) {
    @mixin span 1, 2, sm;
    @mixin nested-grid-container;

    .element {
      @mixin span 1, 1, sm;

      &:nth-of-type(n + 2) {
        display: none;
      }
    }
  }
  
  @media (--bp-sm-upper-only) {
    @mixin span 1, 2, sm;
    @mixin nested-grid-container;

    .element {
      @mixin span 1, 1, sm;

      &:nth-of-type(n + 2) {
        display: none;
      }
    }
  }

  @media (--bp-md-only) {
    @mixin span 2, 4, md;
    @mixin nested-grid-container;

    .element {
      @mixin span 1, 2, md;

      &:nth-of-type(n + 3) {
        display: none;
      }
    }
  }

  @media (--bp-lg) {
    @mixin nested-grid-container;

    .element {
      @mixin span 1, 3, lg;
    }
  }
}
